USE [master]
GO
/****** Object:  Database [KAP_DMS]    Script Date: 9/11/2018 6:01:44 AM ******/
CREATE DATABASE [KAP_DMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KIN_DMS', FILENAME = N'E:\SQL_DATA\MSSQL13.ANALYTICSPROD\Data\KIN_DMS.mdf' , SIZE = 54600512KB , MAXSIZE = UNLIMITED, FILEGROWTH = 256000KB )
 LOG ON 
( NAME = N'KIN_DMS_log', FILENAME = N'L:\SQL_LOGS\MSSQL13.ANALYTICSPROD\Logs\KIN_DMS_log.ldf' , SIZE = 17672192KB , MAXSIZE = 2048GB , FILEGROWTH = 102400KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KAP_DMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KAP_DMS]
GO
/****** Object:  User [us\SQL_KEYSTONE_SA_PROD_R]    Script Date: 9/11/2018 6:01:45 AM ******/
CREATE USER [us\SQL_KEYSTONE_SA_PROD_R] FOR LOGIN [US\SQL_KEYSTONE_SA_PROD_R]
GO
/****** Object:  User [US\SQL_Keystone_SA_Prod]    Script Date: 9/11/2018 6:01:45 AM ******/
CREATE USER [US\SQL_Keystone_SA_Prod] FOR LOGIN [US\SQL_KEYSTONE_SA_PROD]
GO
/****** Object:  User [US\SQL_KAP_TABLEAU_DEVLOPERS]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [US\SQL_KAP_TABLEAU_DEVLOPERS] FOR LOGIN [US\SQL_KAP_TABLEAU_DEVLOPERS]
GO
/****** Object:  User [US\SQL_KAP_IND_SALES_USERS_R]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [US\SQL_KAP_IND_SALES_USERS_R] FOR LOGIN [US\SQL_KAP_IND_SALES_USERS_R]
GO
/****** Object:  User [US\SQL_DS_SUPPORT_R]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [US\SQL_DS_SUPPORT_R] FOR LOGIN [US\SQL_DS_SUPPORT_R]
GO
/****** Object:  User [US\SQL_DS_KAP_SUPPORT_R]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [US\SQL_DS_KAP_SUPPORT_R] FOR LOGIN [US\SQL_DS_KAP_SUPPORT_R]
GO
/****** Object:  User [US\SQL_DS_HYPERCARE2]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [US\SQL_DS_HYPERCARE2] FOR LOGIN [US\SQL_DS_HYPERCARE2]
GO
/****** Object:  User [US\SQL_DS_ANALYTICS_R]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [US\SQL_DS_ANALYTICS_R] FOR LOGIN [US\SQL_DS_ANALYTICS_R]
GO
/****** Object:  User [US\SQL_DATA_SERVICES]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [US\SQL_DATA_SERVICES] FOR LOGIN [US\SQL_DATA_SERVICES]
GO
/****** Object:  User [SQL_SPARK_PROD]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [SQL_SPARK_PROD] FOR LOGIN [SQL_SPARK_PROD] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKRRD01]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [SAS_USKRRD01] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKPLG01]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [SAS_USKPLG01] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKPCL01]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [SAS_USKPCL01] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKNXA19]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [SAS_USKNXA19] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKMEW01]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [SAS_USKMEW01] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKLCH06]    Script Date: 9/11/2018 6:01:46 AM ******/
CREATE USER [SAS_USKLCH06] FOR LOGIN [SAS_USKLCH06] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKKXW01]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE USER [SAS_USKKXW01] FOR LOGIN [SAS_USKKXW01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKKFS02]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE USER [SAS_USKKFS02] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKJXS19]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE USER [SAS_USKJXS19] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKJTB03]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE USER [SAS_USKJTB03] FOR LOGIN [SAS_USKJTB03] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKJAK14]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE USER [SAS_USKJAK14] FOR LOGIN [SAS_USKJAK14] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKDRK07]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE USER [SAS_USKDRK07] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKCRS01]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE USER [SAS_USKCRS01] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKBPH02]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE USER [SAS_USKBPH02] FOR LOGIN [SAS_USKBPH02] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BODS]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE USER [BODS] FOR LOGIN [BODS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [db_view_def]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE ROLE [db_view_def]
GO
/****** Object:  DatabaseRole [db_showplan]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE ROLE [db_showplan]
GO
/****** Object:  DatabaseRole [db_exeproc]    Script Date: 9/11/2018 6:01:47 AM ******/
CREATE ROLE [db_exeproc]
GO
ALTER ROLE [db_datareader] ADD MEMBER [us\SQL_KEYSTONE_SA_PROD_R]
GO
ALTER ROLE [db_owner] ADD MEMBER [US\SQL_Keystone_SA_Prod]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_KAP_TABLEAU_DEVLOPERS]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_KAP_IND_SALES_USERS_R]
GO
ALTER ROLE [db_view_def] ADD MEMBER [US\SQL_DS_SUPPORT_R]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_DS_SUPPORT_R]
GO
ALTER ROLE [db_view_def] ADD MEMBER [US\SQL_DS_KAP_SUPPORT_R]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_DS_KAP_SUPPORT_R]
GO
ALTER ROLE [db_view_def] ADD MEMBER [US\SQL_DS_HYPERCARE2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_DS_HYPERCARE2]
GO
ALTER ROLE [db_view_def] ADD MEMBER [US\SQL_DS_ANALYTICS_R]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_DS_ANALYTICS_R]
GO
ALTER ROLE [db_owner] ADD MEMBER [US\SQL_DATA_SERVICES]
GO
ALTER ROLE [db_owner] ADD MEMBER [SQL_SPARK_PROD]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKRRD01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKPLG01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKPCL01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKNXA19]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKMEW01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKLCH06]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKKXW01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKKFS02]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKJXS19]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKJTB03]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKJAK14]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SAS_USKJAK14]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKDRK07]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKCRS01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKBPH02]
GO
ALTER ROLE [db_owner] ADD MEMBER [BODS]
GO
/****** Object:  Schema [RPT]    Script Date: 9/11/2018 6:01:52 AM ******/
CREATE SCHEMA [RPT]
GO
/****** Object:  Schema [STG]    Script Date: 9/11/2018 6:01:52 AM ******/
CREATE SCHEMA [STG]
GO
/****** Object:  Schema [WRK]    Script Date: 9/11/2018 6:01:52 AM ******/
CREATE SCHEMA [WRK]
GO
/****** Object:  Table [dbo].[NEWTABLE]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWTABLE](
	[CUSTOMERCODE] [varchar](50) NULL,
	[UNIQUE_RETAILERCODE] [varchar](255) NULL,
	[CHANNELTYPENAME] [varchar](255) NULL,
	[SUBCHANNELNAME] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OUTLETPROGRAM_REPORT]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OUTLETPROGRAM_REPORT](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[PLDCODE] [varchar](255) NULL,
	[CUSTOMERID] [varchar](255) NULL,
	[OUTLETPROGRAM] [varchar](255) NULL,
	[MERPSTATUS] [varchar](255) NULL,
	[STATUS] [int] NULL,
	[CREATIONDATE] [date] NULL,
	[DYNAMICCOLID] [decimal](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[BATCHWISECLOSING_STOCK]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[BATCHWISECLOSING_STOCK](
	[REPORTID] [decimal](19, 0) NULL,
	[ROW_ID] [int] NULL,
	[PLDCODE] [varchar](255) NULL,
	[ITEMCODE] [varchar](255) NULL,
	[ITEMNAME] [varchar](255) NULL,
	[BATCHNUMBER] [varchar](255) NULL,
	[EXPIRY] [datetime2](7) NULL,
	[PKD] [datetime2](7) NULL,
	[DAMAGE] [int] NULL,
	[SALEABLESTOCK] [decimal](18, 6) NULL,
	[FREESTOCK] [decimal](18, 6) NULL,
	[CLOSINGVALUE] [decimal](18, 6) NULL,
	[FORUMCODE] [varchar](255) NULL,
	[STATUS] [int] NULL,
	[DYNAMICCOLID] [decimal](19, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[BEAT]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[BEAT](
	[ID] [int] NOT NULL,
	[BEATNAME] [varchar](255) NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CHANNEL_MAPPING]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[CHANNEL_MAPPING](
	[PLDCODE] [varchar](50) NULL,
	[CUSTOMERCODE] [varchar](50) NULL,
	[CHANNELTYPENAME] [varchar](255) NULL,
	[SUBCHANNELNAME] [varchar](255) NULL,
	[SALESMANNAME] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CHANNEL_OUTLET_DM]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[CHANNEL_OUTLET_DM](
	[CHANNEL_OUTLET_KEY] [int] NULL,
	[CHANNEL_TYPE] [varchar](50) NULL,
	[RE_CHANNEL_TYPE] [varchar](50) NULL,
	[OUTLET_CATEGORY] [varchar](50) NULL,
	[OUTLET_NAME] [varchar](50) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime2](7) NULL,
	[DW_MOD_USR] [varchar](100) NULL,
	[DW_MOD_TS] [datetime2](7) NULL,
	[RETAILER_CODE] [varchar](25) NULL,
	[CUSTOMER_CODE] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CHANNEL_OUTLET_STG]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[CHANNEL_OUTLET_STG](
	[CHANNEL_OUTLET_KEY] [int] NULL,
	[CHANNEL_TYPE] [varchar](50) NULL,
	[RE_CHANNEL_TYPE] [varchar](50) NULL,
	[OUTLET_CATEGORY] [varchar](50) NULL,
	[OUTLET_NAME] [varchar](50) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime2](7) NULL,
	[DW_MOD_USR] [varchar](100) NULL,
	[DW_MOD_TS] [datetime2](7) NULL,
	[RETAILER_CODE] [varchar](25) NULL,
	[CUSTOMER_CODE] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CHANNELTYPE]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[CHANNELTYPE](
	[ID] [int] NOT NULL,
	[CHANNELTYPENAME] [varchar](255) NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[IVYSTATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[COMBI_CLAIM_ABSTRACT]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[COMBI_CLAIM_ABSTRACT](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[CLAIMNO] [varchar](255) NULL,
	[PLDCODE] [varchar](255) NULL,
	[CLAIMDATE] [datetime2](7) NULL,
	[INVOICEID] [varchar](255) NULL,
	[CUSTOMERID] [varchar](255) NULL,
	[CUSTOMERNAME] [varchar](255) NULL,
	[CHANNELTYPE] [varchar](255) NULL,
	[SUBCHANNELNAME] [varchar](255) NULL,
	[RCNTYPE] [varchar](255) NULL,
	[BEAT] [varchar](255) NULL,
	[SALESMAN] [varchar](255) NULL,
	[INVOICENETAMOUNT] [decimal](18, 6) NULL,
	[COMBICODE] [varchar](255) NULL,
	[COMBIDESCRIPTION] [varchar](255) NULL,
	[MRP] [decimal](18, 6) NULL,
	[SALEPRICE] [decimal](18, 6) NULL,
	[COMBIPRICE] [decimal](18, 6) NULL,
	[QUANTITY] [decimal](18, 6) NULL,
	[ACTUALSALESAMOUNT] [decimal](18, 6) NULL,
	[COMBIOFFERAMOUNT] [decimal](18, 6) NULL,
	[CLAIMAMOUNT] [decimal](18, 6) NULL,
	[STATUS] [int] NULL,
	[DYNAMICCOLID] [decimal](19, 0) NULL,
	[ORACLEPROCESSEDSTATUS] [int] NULL,
	[REPROCESSCLAIMSTATUS] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[COMBI_CLAIM_DETAILS]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[COMBI_CLAIM_DETAILS](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[TOPFRAME_ROW_ID] [int] NOT NULL,
	[BOTTOMFRAME_ROW_ID] [int] NOT NULL,
	[INVOICEID] [varchar](255) NULL,
	[COMBICODE] [varchar](255) NULL,
	[COMPONENTCODE] [varchar](255) NULL,
	[COMPONENTDESCRIPTION] [varchar](255) NULL,
	[COMPONENTMRP] [decimal](18, 6) NULL,
	[COMBIDEFNQTY] [decimal](18, 6) NULL,
	[MARKUPPER] [decimal](18, 6) NULL,
	[MARKDOWNPER] [decimal](18, 6) NULL,
	[SALEPRICE] [decimal](18, 6) NULL,
	[COMBIPRICE] [decimal](18, 6) NULL,
	[SOLDQUANTITY] [decimal](18, 6) NULL,
	[ACTUALSALESAMOUNT] [decimal](18, 6) NULL,
	[COMBISALESAMOUNT] [decimal](18, 6) NULL,
	[CLAIMAMOUNT] [decimal](18, 6) NULL,
	[STATUS] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CUSTOMER]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[CUSTOMER](
	[ID] [int] NOT NULL,
	[CUSTOMERCODE] [varchar](50) NULL,
	[CUSTOMERNAME] [varchar](255) NULL,
	[ADDRESS1] [varchar](4000) NULL,
	[ADDRESS2] [varchar](4000) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[CONTACTPERSON] [varchar](255) NULL,
	[TINNUMBER] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[PHONE] [varchar](255) NULL,
	[PINCODE] [varchar](50) NULL,
	[FORUMCODE] [varchar](50) NULL,
	[SUPPLYCHAINID] [int] NULL,
	[CHANNELTYPEID] [int] NULL,
	[BEATID] [int] NULL,
	[SALESMANID] [int] NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[STATUS] [int] NULL,
	[MOBILENUMBER] [varchar](255) NULL,
	[SUBCHANNELTYPEID] [varchar](255) NULL,
	[RCNTYPEID] [varchar](255) NULL,
	[OUTLETCLASSIFICATION] [varchar](255) NULL,
	[AVERAGESALES] [int] NULL,
	[RETAILERCODE] [varchar](50) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CUSTOMER_BKP_28072017]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[CUSTOMER_BKP_28072017](
	[ID] [int] NOT NULL,
	[CUSTOMERCODE] [varchar](50) NULL,
	[CUSTOMERNAME] [varchar](255) NULL,
	[ADDRESS1] [varchar](4000) NULL,
	[ADDRESS2] [varchar](4000) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[CONTACTPERSON] [varchar](255) NULL,
	[TINNUMBER] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[PHONE] [varchar](255) NULL,
	[PINCODE] [varchar](50) NULL,
	[FORUMCODE] [varchar](50) NULL,
	[SUPPLYCHAINID] [int] NULL,
	[CHANNELTYPEID] [int] NULL,
	[BEATID] [int] NULL,
	[SALESMANID] [int] NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[STATUS] [int] NULL,
	[MOBILENUMBER] [varchar](255) NULL,
	[SUBCHANNELTYPEID] [varchar](255) NULL,
	[RCNTYPEID] [varchar](255) NULL,
	[OUTLETCLASSIFICATION] [varchar](255) NULL,
	[AVERAGESALES] [int] NULL,
	[RETAILERCODE] [varchar](50) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[customer_bkp26122016]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[customer_bkp26122016](
	[ID] [int] NOT NULL,
	[CUSTOMERCODE] [varchar](50) NULL,
	[CUSTOMERNAME] [varchar](255) NULL,
	[ADDRESS1] [varchar](4000) NULL,
	[ADDRESS2] [varchar](4000) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[CONTACTPERSON] [varchar](255) NULL,
	[TINNUMBER] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[PHONE] [varchar](255) NULL,
	[PINCODE] [varchar](50) NULL,
	[FORUMCODE] [varchar](50) NULL,
	[SUPPLYCHAINID] [int] NULL,
	[CHANNELTYPEID] [int] NULL,
	[BEATID] [int] NULL,
	[SALESMANID] [int] NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[STATUS] [int] NULL,
	[MOBILENUMBER] [varchar](255) NULL,
	[SUBCHANNELTYPEID] [varchar](255) NULL,
	[RCNTYPEID] [varchar](255) NULL,
	[OUTLETCLASSIFICATION] [varchar](255) NULL,
	[AVERAGESALES] [int] NULL,
	[RETAILERCODE] [varchar](50) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CUSTOMER_MAPPING]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[CUSTOMER_MAPPING](
	[PLDCODE] [varchar](50) NULL,
	[CUSTOMERCODE] [varchar](50) NULL,
	[UNIQUE_RETAILERCODE] [varchar](255) NULL,
	[ACTIVE] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CUSTOMER_MAPPING_SCHEME]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[CUSTOMER_MAPPING_SCHEME](
	[PLDCODE] [varchar](50) NULL,
	[CUSTOMERCODE] [varchar](50) NULL,
	[UNIQUE_RETAILERCODE] [varchar](255) NULL,
	[ACTIVE] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CUSTOMER_RETAILER_TIME]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[CUSTOMER_RETAILER_TIME](
	[PLDCODE] [varchar](50) NULL,
	[UNIQUE_RETAILERCODE] [varchar](255) NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[CUSTOMERCODE] [varchar](50) NULL,
	[CUSTOMERNAME] [varchar](255) NULL,
	[ACTIVE] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CUSTOMEROUTLETMAPPING]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[CUSTOMEROUTLETMAPPING](
	[OUTLETPROGRAMID] [int] NULL,
	[CUSTOMERCODE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[CUSTOMEROUTLETPROGRAMMAPPING]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[CUSTOMEROUTLETPROGRAMMAPPING](
	[ID] [int] NULL,
	[CUSTOMERID] [int] NOT NULL,
	[OUTLETPROGRAMID] [int] NOT NULL,
	[IVYSTATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC,
	[OUTLETPROGRAMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [STG].[DIM_DATE]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[DIM_DATE](
	[DATE_KEY] [int] NULL,
	[DATE] [datetime2](7) NULL,
	[DAY_NAME_SHORT] [varchar](50) NULL,
	[DAY_NAME_LONG] [varchar](50) NULL,
	[FINANCIAL_YEAR] [varchar](50) NULL,
	[FY_START_DATE] [datetime2](7) NULL,
	[FY_END_DATE] [datetime2](7) NULL,
	[HY_NO] [varchar](50) NULL,
	[HY_START_DATE] [datetime2](7) NULL,
	[HY_END_DATE] [datetime2](7) NULL,
	[QTR_NO] [varchar](50) NULL,
	[QTR_START_DATE] [datetime2](7) NULL,
	[QTR_END_DATE] [datetime2](7) NULL,
	[MONTH_NAME_SHORT] [varchar](50) NULL,
	[MONTH_NAME_LONG] [varchar](50) NULL,
	[MONTH_NO] [varchar](50) NULL,
	[MONTH_START_DATE] [datetime2](7) NULL,
	[MONTH_END_DATE] [datetime2](7) NULL,
	[WEEK_NO] [varchar](50) NULL,
	[WEEK_START_DATE] [datetime2](7) NULL,
	[WEEK_END_DATE] [datetime2](7) NULL,
	[DAY_NO_IN_YEAR] [varchar](50) NULL,
	[DAY_NO_IN_QTR] [varchar](50) NULL,
	[DAY_IN_MONTH] [varchar](50) NULL,
	[PY_DATE_SKEY] [int] NULL,
	[WEEK_NO_IN_MONTH] [int] NULL,
	[RUNNING_WEEK_SEQ_NO] [int] NULL,
	[RUNNING_MONTH_SEQ_NO] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[DISTIBUTORWISECUSTOMER]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[DISTIBUTORWISECUSTOMER](
	[ID] [int] NOT NULL,
	[DISTRIBUTORID] [int] NULL,
	[CUSTOMERID] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[STATUS] [int] NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[DISTRIBUTOR]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[DISTRIBUTOR](
	[ID] [int] NOT NULL,
	[PLDCODE] [varchar](50) NULL,
	[PLDNAME] [varchar](255) NULL,
	[ADDRESS_1] [varchar](510) NULL,
	[ADDRESS_2] [varchar](510) NULL,
	[ADDRESS_3] [varchar](510) NULL,
	[ADDRESS_4] [varchar](510) NULL,
	[STREET] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[DISTRICT] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[REGION] [varchar](50) NULL,
	[COUNTRY] [varchar](50) NULL,
	[CONTACTPERSON] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[PHONE] [varchar](255) NULL,
	[PINCODE] [varchar](50) NULL,
	[FORUMCODE] [varchar](50) NULL,
	[TINNUMBER] [varchar](50) NULL,
	[STREGNNO] [varchar](50) NULL,
	[CSTREGNNO] [varchar](50) NULL,
	[SUPPLYCHAINID] [int] NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[POSUGGESTEDQTY] [decimal](18, 0) NULL,
	[MINORDERQTY] [decimal](18, 0) NULL,
	[CFAMAIL] [varchar](512) NULL,
	[STATUS] [int] NULL,
	[PREFERREDPOPAYMENTMODE] [int] NULL,
	[PREFERREDPOTYPE] [int] NULL,
	[POCLOSUREUSERNAME] [varchar](256) NULL,
	[POCLOSUREPASSWORD] [varchar](256) NULL,
	[ATTRIBUTE1] [varchar](255) NULL,
	[ATTRIBUTE2] [varchar](255) NULL,
	[ATTRIBUTE3] [varchar](255) NULL,
	[ATTRIBUTE4] [varchar](255) NULL,
	[ATTRIBUTE5] [varchar](255) NULL,
	[ATTRIBUTE6] [varchar](255) NULL,
	[ATTRIBUTE7] [varchar](255) NULL,
	[ATTRIBUTE8] [varchar](255) NULL,
	[ATTRIBUTE9] [varchar](255) NULL,
	[ATTRIBUTE10] [varchar](255) NULL,
	[ATTRIBUTE11] [varchar](255) NULL,
	[ATTRIBUTE12] [varchar](255) NULL,
	[ATTRIBUTE13] [varchar](255) NULL,
	[ATTRIBUTE14] [varchar](255) NULL,
	[ATTRIBUTE15] [varchar](255) NULL,
	[ATTRIBUTE16] [varchar](255) NULL,
	[ATTRIBUTE17] [varchar](255) NULL,
	[ATTRIBUTE18] [varchar](255) NULL,
	[ATTRIBUTE19] [varchar](255) NULL,
	[ATTRIBUTE20] [varchar](255) NULL,
	[IVYSTATUS] [int] NULL,
	[CONTACTPERSONPHONENO] [varchar](20) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[DISTRIBUTOR_WEEKLYOFF]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[DISTRIBUTOR_WEEKLYOFF](
	[DISTRIBUTOR_CODE] [varchar](50) NULL,
	[WEEKLYOFF] [varchar](30) NULL,
	[DISPATCHID] [int] NULL,
	[STARTDATE] [datetime2](7) NULL,
	[ENDDATE] [datetime2](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[DPDANDKSTARCLAIM_REPORT]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[DPDANDKSTARCLAIM_REPORT](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[PLDCODE] [varchar](255) NULL,
	[CLAIM_NO] [varchar](255) NULL,
	[SCHEME_TYPE] [varchar](255) NULL,
	[SCHEME_NAME] [varchar](255) NULL,
	[RETAILER_NAME] [varchar](255) NULL,
	[TOTAL_SALES_VALUE] [decimal](18, 6) NULL,
	[DISCOUNTABLE_SALES_VALUE] [decimal](18, 6) NULL,
	[SCH_VALUE] [decimal](18, 6) NULL,
	[FREE_ITEM_VALUE] [decimal](18, 6) NULL,
	[TOTAL_SCHEME_VALUE] [decimal](18, 6) NULL,
	[STATUS] [int] NULL,
	[DYNAMICCOLID] [decimal](19, 0) NULL,
	[PORTALSCHEMEID] [varchar](255) NULL,
	[CHANNELTYPE] [varchar](255) NULL,
	[SUBCHANNEL] [varchar](255) NULL,
	[RCNTYPE] [varchar](255) NULL,
	[CLAIMDATE] [datetime2](7) NULL,
	[ORACLEPROCESSEDSTATUS] [int] NULL,
	[REPROCESSCLAIMSTATUS] [int] NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime2](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[DPDANDKSTARCLAIMDETAIL_REPORT]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[DPDANDKSTARCLAIMDETAIL_REPORT](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[TOPFRAME_ROW_ID] [int] NOT NULL,
	[BOTTOMFRAME_ROW_ID] [int] NOT NULL,
	[INVOICENO] [varchar](255) NULL,
	[INVOICEDATE] [datetime2](7) NULL,
	[CUSTOMER_CODE] [varchar](255) NULL,
	[CUSTOMER_NAME] [varchar](255) NULL,
	[UOM] [varchar](255) NULL,
	[SCHEME_QTY] [decimal](18, 6) NULL,
	[SCHEME_NAME] [varchar](255) NULL,
	[SCHEME_SLAB] [decimal](18, 6) NULL,
	[DISCOUNTABLE_SALES] [decimal](18, 6) NULL,
	[SCHEME_VALUE] [decimal](18, 6) NULL,
	[FREE_ITEM_CODE] [varchar](255) NULL,
	[FREE_ITEM_NAME] [varchar](255) NULL,
	[FREE_UOM] [varchar](255) NULL,
	[FREE_QTY] [varchar](255) NULL,
	[FREE_VALUE] [decimal](18, 6) NULL,
	[SCHEME_DISCOUNT_VALUE] [decimal](18, 6) NULL,
	[STATUS] [int] NULL,
	[ITEM_NAME] [varchar](255) NULL,
	[ITEM_CODE] [varchar](255) NULL,
	[PORTALSCHEMEID] [varchar](255) NULL,
	[CHANNELTYPE] [varchar](255) NULL,
	[SUBCHANNEL] [varchar](255) NULL,
	[RCNTYPE] [varchar](255) NULL,
	[TOTAL_SCHEME_VALUE] [decimal](18, 6) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime2](7) NULL,
	[YEAR_MONTH] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[EMP2PLDMAPPING]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[EMP2PLDMAPPING](
	[ID] [int] NOT NULL,
	[EMPLOYEEID] [int] NULL,
	[DISTRIBUTORID] [int] NULL,
	[STATUS] [int] NULL,
	[CREATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [STG].[EMPLOYEE]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[EMPLOYEE](
	[ID] [int] NOT NULL,
	[EMPLOYEEID] [varchar](50) NULL,
	[EMPLOYEENAME] [varchar](255) NULL,
	[DESIGNATION] [varchar](255) NULL,
	[DATEOFJOINING] [datetime2](7) NULL,
	[CONTACTNO] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[ADDRESS] [varchar](4000) NULL,
	[CITY] [varchar](255) NULL,
	[STATE] [varchar](255) NULL,
	[COUNTRY] [varchar](255) NULL,
	[ORGANISATIONHIERARCHYID] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[GENDER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[GEOGRAPHYHIERARCHY]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[GEOGRAPHYHIERARCHY](
	[ID] [int] NOT NULL,
	[NAME] [varchar](510) NULL,
	[PARENTID] [int] NULL,
	[HIERARCHYLEVEL] [int] NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[GEOGRAPHYHIERARCHYLEVELDEFN]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[GEOGRAPHYHIERARCHYLEVELDEFN](
	[ID] [int] NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[PARENTID] [int] NULL,
	[HIERARCHYLEVEL] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[INVOICE_CORRECTION]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[INVOICE_CORRECTION](
	[PLDCODE] [varchar](255) NULL,
	[PERIOD_445] [varchar](8) NULL,
	[MONTH_START_DATE] [datetime2](7) NULL,
	[MONTH_END_DATE] [datetime2](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[INVOICE_DATE]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[INVOICE_DATE](
	[DATE] [datetime2](7) NULL,
	[UNIQUE_RETAILERCODE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[INVOICEDETAIL_REPORT_PRESTG]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[INVOICEDETAIL_REPORT_PRESTG](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[TOPFRAME_ROW_ID] [int] NOT NULL,
	[BOTTOMFRAME_ROW_ID] [int] NOT NULL,
	[ITEMCODE] [varchar](255) NULL,
	[ITEMNAME] [varchar](4000) NULL,
	[BATCH] [varchar](255) NULL,
	[QUANTITY] [decimal](18, 6) NULL,
	[VOLUME] [decimal](18, 6) NULL,
	[SALESPRICE] [decimal](18, 6) NULL,
	[SALETAX] [varchar](255) NULL,
	[TAXSUFFERED] [varchar](255) NULL,
	[DISCOUNT] [varchar](255) NULL,
	[STCREDIT] [decimal](18, 6) NULL,
	[TOTAL] [decimal](18, 6) NULL,
	[ITEMFORUMCODE] [varchar](255) NULL,
	[TAXSUFFEREDVALUE] [decimal](18, 6) NULL,
	[SALESTAXVALUE] [decimal](18, 6) NULL,
	[STATUS] [int] NULL,
	[PRICEMARGINID] [varchar](50) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[TOPFRAME_ROW_ID] ASC,
	[BOTTOMFRAME_ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[INVOICEDETAIL_REPORT_PRESTG_1]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[INVOICEDETAIL_REPORT_PRESTG_1](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[TOPFRAME_ROW_ID] [int] NOT NULL,
	[BOTTOMFRAME_ROW_ID] [int] NOT NULL,
	[ITEMCODE] [varchar](255) NULL,
	[ITEMNAME] [varchar](4000) NULL,
	[BATCH] [varchar](255) NULL,
	[QUANTITY] [decimal](18, 6) NULL,
	[VOLUME] [decimal](18, 6) NULL,
	[SALESPRICE] [decimal](18, 6) NULL,
	[SALETAX] [varchar](255) NULL,
	[TAXSUFFERED] [varchar](255) NULL,
	[DISCOUNT] [varchar](255) NULL,
	[STCREDIT] [decimal](18, 6) NULL,
	[TOTAL] [decimal](18, 6) NULL,
	[ITEMFORUMCODE] [varchar](255) NULL,
	[TAXSUFFEREDVALUE] [decimal](18, 6) NULL,
	[SALESTAXVALUE] [decimal](18, 6) NULL,
	[STATUS] [int] NULL,
	[PRICEMARGINID] [varchar](50) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[TOPFRAME_ROW_ID] ASC,
	[BOTTOMFRAME_ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[INVOICES_REPORT]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[INVOICES_REPORT](
	[REPORTID] [decimal](19, 0) NULL,
	[ROW_ID] [int] NULL,
	[PLDCODE] [varchar](255) NULL,
	[INVOICEID] [varchar](255) NULL,
	[DOCREF] [varchar](255) NULL,
	[DATE] [datetime2](7) NULL,
	[PAYMENTMODE] [varchar](255) NULL,
	[PAYMENTDATE] [datetime2](7) NULL,
	[CREDITTERM] [varchar](255) NULL,
	[CUSTOMERID] [varchar](510) NULL,
	[CUSTOMER] [varchar](510) NULL,
	[CUSTOMERFORUMCODE] [varchar](255) NULL,
	[GOODSVALUE] [decimal](18, 6) NULL,
	[PRODUCTDISCOUNTAMOUNT] [decimal](18, 6) NULL,
	[TRADEDISCOUNTPERC] [varchar](255) NULL,
	[TRADEDISCOUNTAMOUNT] [decimal](18, 6) NULL,
	[ADDLDISCOUNTPERC] [varchar](255) NULL,
	[ADDLDISCOUNTAMOUNT] [decimal](18, 6) NULL,
	[FREIGHT] [decimal](18, 6) NULL,
	[NETVALUE] [decimal](18, 6) NULL,
	[NETVOLUME] [decimal](18, 6) NULL,
	[ADJREF] [varchar](255) NULL,
	[ADJUSTEDAMOUNT] [decimal](18, 6) NULL,
	[BALANCE] [decimal](18, 6) NULL,
	[COLLECTEDAMOUNT] [decimal](18, 6) NULL,
	[BRANCH] [varchar](255) NULL,
	[BEAT] [varchar](255) NULL,
	[SALESMAN] [varchar](255) NULL,
	[REFERENCE] [varchar](255) NULL,
	[ROUNDOFF] [decimal](18, 6) NULL,
	[DOCUMENTTYPEVALUE] [varchar](510) NULL,
	[TOTALTAXSUFFEREDVALUE] [decimal](18, 6) NULL,
	[TOTALSALESTAXVALUE] [decimal](18, 6) NULL,
	[CASHSALES] [varchar](510) NULL,
	[INVOICETYPE] [varchar](50) NULL,
	[STATUS] [int] NULL,
	[DYNAMICCOLID] [decimal](19, 0) NULL,
	[CHANNELTYPE] [varchar](50) NULL,
	[SUBCHANNELTYPE] [varchar](50) NULL,
	[RCNTYPE] [varchar](50) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime] NULL,
	[YEAR_MONTH] [varchar](6) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[INVOICES_REPORT_PRESTG]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[INVOICES_REPORT_PRESTG](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[PLDCODE] [varchar](255) NULL,
	[INVOICEID] [varchar](255) NULL,
	[DOCREF] [varchar](255) NULL,
	[DATE] [datetime2](7) NULL,
	[PAYMENTMODE] [varchar](255) NULL,
	[PAYMENTDATE] [datetime2](7) NULL,
	[CREDITTERM] [varchar](255) NULL,
	[CUSTOMERID] [varchar](510) NULL,
	[CUSTOMER] [varchar](510) NULL,
	[CUSTOMERFORUMCODE] [varchar](255) NULL,
	[GOODSVALUE] [decimal](18, 6) NULL,
	[PRODUCTDISCOUNTAMOUNT] [decimal](18, 6) NULL,
	[TRADEDISCOUNTPERC] [varchar](255) NULL,
	[TRADEDISCOUNTAMOUNT] [decimal](18, 6) NULL,
	[ADDLDISCOUNTPERC] [varchar](255) NULL,
	[ADDLDISCOUNTAMOUNT] [decimal](18, 6) NULL,
	[FREIGHT] [decimal](18, 6) NULL,
	[NETVALUE] [decimal](18, 6) NULL,
	[NETVOLUME] [decimal](18, 6) NULL,
	[ADJREF] [varchar](255) NULL,
	[ADJUSTEDAMOUNT] [decimal](18, 6) NULL,
	[BALANCE] [decimal](18, 6) NULL,
	[COLLECTEDAMOUNT] [decimal](18, 6) NULL,
	[BRANCH] [varchar](255) NULL,
	[BEAT] [varchar](255) NULL,
	[SALESMAN] [varchar](255) NULL,
	[REFERENCE] [varchar](255) NULL,
	[ROUNDOFF] [decimal](18, 6) NULL,
	[DOCUMENTTYPEVALUE] [varchar](510) NULL,
	[TOTALTAXSUFFEREDVALUE] [decimal](18, 6) NULL,
	[TOTALSALESTAXVALUE] [decimal](18, 6) NULL,
	[CASHSALES] [varchar](510) NULL,
	[INVOICETYPE] [varchar](50) NULL,
	[STATUS] [int] NULL,
	[DYNAMICCOLID] [decimal](19, 0) NULL,
	[CHANNELTYPE] [varchar](50) NULL,
	[SUBCHANNELTYPE] [varchar](50) NULL,
	[RCNTYPE] [varchar](50) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[INVOICESCHEMEDETAIL]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[INVOICESCHEMEDETAIL](
	[REPORTID] [decimal](19, 0) NULL,
	[ROW_ID] [int] NULL,
	[INVOICEID] [varchar](50) NULL,
	[PRODUCTCODE] [varchar](50) NULL,
	[SCHEMEID] [decimal](19, 0) NULL,
	[SCHEMEAMOUNT] [decimal](18, 6) NULL,
	[YEAR_MONTH] [varchar](6) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[INVOICESCHEMEDETAIL_22062017]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[INVOICESCHEMEDETAIL_22062017](
	[REPORTID] [decimal](19, 0) NULL,
	[ROW_ID] [int] NULL,
	[INVOICEID] [varchar](50) NULL,
	[PRODUCTCODE] [varchar](50) NULL,
	[SCHEMEID] [decimal](19, 0) NULL,
	[SCHEMEAMOUNT] [decimal](18, 6) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[INVOICESCHEMEDETAIL_TEMP]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[INVOICESCHEMEDETAIL_TEMP](
	[REPORTID] [decimal](19, 0) NULL,
	[ROW_ID] [int] NULL,
	[INVOICEID] [varchar](50) NULL,
	[PRODUCTCODE] [varchar](50) NULL,
	[SCHEMEID] [decimal](19, 0) NULL,
	[SCHEMEAMOUNT] [decimal](18, 6) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[INVOICESDETAIL_REPORT]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[INVOICESDETAIL_REPORT](
	[REPORTID] [decimal](19, 0) NULL,
	[TOPFRAME_ROW_ID] [int] NULL,
	[BOTTOMFRAME_ROW_ID] [int] NULL,
	[ITEMCODE] [varchar](255) NULL,
	[ITEMNAME] [varchar](4000) NULL,
	[BATCH] [varchar](255) NULL,
	[QUANTITY] [decimal](18, 6) NULL,
	[VOLUME] [decimal](18, 6) NULL,
	[SALESPRICE] [decimal](18, 6) NULL,
	[SALETAX] [varchar](255) NULL,
	[TAXSUFFERED] [varchar](255) NULL,
	[DISCOUNT] [varchar](255) NULL,
	[STCREDIT] [decimal](18, 6) NULL,
	[TOTAL] [decimal](18, 6) NULL,
	[ITEMFORUMCODE] [varchar](255) NULL,
	[TAXSUFFEREDVALUE] [decimal](18, 6) NULL,
	[SALESTAXVALUE] [decimal](18, 6) NULL,
	[STATUS] [int] NULL,
	[PRICEMARGINID] [varchar](255) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime] NULL,
	[YEAR_MONTH] [varchar](6) NULL,
	[PLDCODE_IDR] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[MANAGERCNTYPE]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[MANAGERCNTYPE](
	[ID] [int] NOT NULL,
	[RCNTYPENAME] [varchar](255) NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[MAPPINGCHANNELTYPESUBCHANNELTYPE]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[MAPPINGCHANNELTYPESUBCHANNELTYPE](
	[ID] [int] NULL,
	[CHANNELTYPEID] [int] NULL,
	[SUBCHANNELTYPEID] [int] NULL,
	[CREATIONDATE] [datetime2](7) NULL,
	[LASTMODIFIEDDATE] [datetime2](7) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [STG].[NEWTABLE_20]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[NEWTABLE_20](
	[INVOICE_DATE] [datetime2](7) NULL,
	[SCHEME_ID] [decimal](19, 0) NULL,
	[CHANNELTYPE] [varchar](50) NULL,
	[RE_CHANNEL_TYPE] [varchar](50) NULL,
	[SALESMAN] [varchar](255) NULL,
	[PLDCODE] [varchar](255) NULL,
	[CUSTOMERID] [varchar](510) NULL,
	[OUTLET_PROGRAM] [int] NULL,
	[PACK_SIZE] [varchar](4) NULL,
	[PRODUCT_CODE] [varchar](255) NULL,
	[TOTAL] [decimal](18, 6) NULL,
	[SALESTAXVALUE] [decimal](18, 6) NULL,
	[QUANTITY] [decimal](18, 6) NULL,
	[DISCOUNT] [varchar](255) NULL,
	[REPORTING_UNIT] [decimal](26, 13) NULL,
	[LIST_PRICE] [decimal](28, 7) NULL,
	[TAX_RATE] [decimal](28, 7) NULL,
	[SALESPRICE] [decimal](18, 6) NULL,
	[REPORTID] [decimal](19, 0) NULL,
	[ROW_ID] [int] NULL,
	[MRP] [decimal](18, 6) NULL,
	[EXCISE_RATE] [float] NULL,
	[SCHEMEAMOUNT] [decimal](18, 6) NULL,
	[INVOICEID] [varchar](255) NULL,
	[BOTTOMFRAME_ROW_ID] [int] NULL,
	[UNIQUE_RETAILERCODE] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[NEWTABLE_23]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[NEWTABLE_23](
	[INVOICE_DATE] [datetime2](7) NULL,
	[CHANNELTYPE] [varchar](50) NULL,
	[RE_CHANNEL_TYPE] [varchar](50) NULL,
	[SALESMAN] [varchar](255) NULL,
	[PLDCODE] [varchar](255) NULL,
	[CUSTOMERID] [varchar](510) NULL,
	[PACK_SIZE] [varchar](4) NULL,
	[PRODUCT_CODE] [varchar](255) NULL,
	[TOTAL] [decimal](18, 6) NULL,
	[SALESTAXVALUE] [decimal](18, 6) NULL,
	[QUANTITY] [decimal](18, 6) NULL,
	[REPORTID] [decimal](19, 0) NULL,
	[ROW_ID] [int] NULL,
	[SALESPRICE] [decimal](18, 6) NULL,
	[DISCOUNT] [varchar](255) NULL,
	[MRP] [decimal](18, 6) NULL,
	[REPORTINGUNIT] [decimal](18, 6) NULL,
	[INVOICEID] [varchar](255) NULL,
	[BOTTOMFRAME_ROW_ID] [int] NULL,
	[UNIQUE_RETAILERCODE] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[NEWTABLE_25]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[NEWTABLE_25](
	[INVOICE_DATE] [datetime2](7) NULL,
	[CHANNELTYPE] [varchar](50) NULL,
	[RE_CHANNEL_TYPE] [varchar](50) NULL,
	[SALESMAN] [varchar](255) NULL,
	[PLDCODE] [varchar](255) NULL,
	[CUSTOMERID] [varchar](510) NULL,
	[PACK_SIZE] [varchar](4) NULL,
	[PRODUCT_CODE] [varchar](255) NULL,
	[TOTAL] [decimal](18, 6) NULL,
	[SALESTAXVALUE] [decimal](18, 6) NULL,
	[QUANTITY] [decimal](18, 6) NULL,
	[REPORTID] [decimal](19, 0) NULL,
	[ROW_ID] [int] NULL,
	[SALESPRICE] [decimal](18, 6) NULL,
	[DISCOUNT] [varchar](255) NULL,
	[MRP] [decimal](18, 6) NULL,
	[REPORTINGUNIT] [decimal](18, 6) NULL,
	[INVOICEID] [varchar](255) NULL,
	[BOTTOMFRAME_ROW_ID] [int] NULL,
	[UNIQUE_RETAILERCODE] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[ORDER_DETAIL]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[ORDER_DETAIL](
	[DISTRIBUTORCODE] [varchar](50) NULL,
	[SALESREPCODE] [varchar](50) NULL,
	[RETAILERCODE] [varchar](50) NULL,
	[ROUTECODE] [varchar](50) NULL,
	[ORDERNO] [varchar](255) NULL,
	[ORDERDATE] [datetime2](7) NULL,
	[LINESPERCALL] [int] NULL,
	[PRODUCTCODE] [varchar](100) NULL,
	[ORDERQTYPCS] [int] NULL,
	[ORDERQTYCASES] [int] NULL,
	[ORDERUOM] [varchar](20) NULL,
	[STATUS] [int] NULL,
	[CREATEDDATE] [datetime2](7) NULL,
	[MODIFIEDDATE] [datetime2](7) NULL,
	[CREATEDBY] [varchar](25) NULL,
	[MODIFIEDBY] [varchar](25) NULL,
	[DELIVERY_DATE] [datetime2](7) NULL,
	[BATCHID] [varchar](255) NULL,
	[ERRORDESCRIPTION] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[ORDER_DUMP_HIST]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[ORDER_DUMP_HIST](
	[DISTRIBUTORCODE] [varchar](50) NULL,
	[RETAILERCODE] [varchar](50) NULL,
	[PRODUCTCODE] [varchar](100) NULL,
	[ORDERDATE] [datetime2](7) NULL,
	[ORDERNO] [varchar](255) NULL,
	[SALESMAN] [varchar](255) NULL,
	[ORDERQTYPCS] [int] NULL,
	[ORDERQTYCASES] [int] NULL,
	[ORDERUOM] [varchar](20) NULL,
	[STATUS] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[ORGANISATIONHIERARCHY]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[ORGANISATIONHIERARCHY](
	[ID] [int] NOT NULL,
	[NAME] [varchar](510) NULL,
	[PARENTID] [int] NULL,
	[HIERARCHYLEVEL] [int] NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[PARENTIDINDIRECT] [int] NULL,
	[HIERARCHYLEVELID] [int] NULL,
	[CHANNELTYPEID] [int] NULL,
	[LEASTISDELETE] [int] NULL,
	[SFAUSERNAME] [varchar](255) NULL,
	[SFAPASSWORD] [varchar](255) NULL,
	[IVYSTATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[ORGANISATIONHIERARCHYLEVELDEFN]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[ORGANISATIONHIERARCHYLEVELDEFN](
	[ID] [int] NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[PARENTID] [int] NULL,
	[HIERARCHYLEVEL] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[STATUSOPTIONALLEVEL] [int] NULL,
	[STATUSPEERSVIEW] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[OUTLETPROGRAM]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[OUTLETPROGRAM](
	[ID] [int] NOT NULL,
	[OUTLETPROGRAMNAME] [varchar](255) NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[IVYSTATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[OUTLETPROGRAM_REPORT]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[OUTLETPROGRAM_REPORT](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[PLDCODE] [varchar](255) NULL,
	[CUSTOMERID] [varchar](255) NULL,
	[OUTLETPROGRAM] [varchar](255) NULL,
	[MERPSTATUS] [varchar](255) NULL,
	[STATUS] [int] NULL,
	[CREATIONDATE] [date] NULL,
	[DYNAMICCOLID] [decimal](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[OUTLETPROGRAM_REPORT_1]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[OUTLETPROGRAM_REPORT_1](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[PLDCODE] [varchar](255) NULL,
	[CUSTOMERID] [varchar](255) NULL,
	[OUTLETPROGRAM] [varchar](255) NULL,
	[MERPSTATUS] [varchar](255) NULL,
	[STATUS] [int] NULL,
	[CREATIONDATE] [date] NULL,
	[DYNAMICCOLID] [decimal](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[PRODUCTHIERARCHY]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[PRODUCTHIERARCHY](
	[ID] [int] NOT NULL,
	[NAME] [varchar](510) NULL,
	[PARENTID] [int] NULL,
	[HIERARCHYLEVEL] [int] NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[PRODUCTHIERARCHYLEVELDEFN]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[PRODUCTHIERARCHYLEVELDEFN](
	[ID] [int] NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[PARENTID] [int] NULL,
	[HIERARCHYLEVEL] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[PRODUCTMASTER]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[PRODUCTMASTER](
	[ID] [int] NOT NULL,
	[PRODUCTCODE] [varchar](255) NULL,
	[PRODUCTNAME] [varchar](1024) NULL,
	[DESCRIPTION] [varchar](4000) NULL,
	[PRODUCTHIERARCHYID] [int] NULL,
	[MANUFACTURERID] [int] NULL,
	[DIVISIONID] [int] NULL,
	[TRACKBATCHES] [int] NULL,
	[TRACKPKD] [int] NULL,
	[VIRTUALTRACKBATCHES] [int] NULL,
	[ISVAT] [int] NULL,
	[STOCKNORM] [decimal](18, 6) NULL,
	[MINORDERQTY] [decimal](18, 6) NULL,
	[CONVERSIONUNIT] [varchar](50) NULL,
	[CONVERSIONFACTOR] [decimal](18, 6) NULL,
	[PURCHASEPRICE] [decimal](18, 6) NULL,
	[SALEPRICE] [decimal](18, 6) NULL,
	[PTS] [decimal](18, 6) NULL,
	[PTR] [decimal](18, 6) NULL,
	[ECP] [decimal](18, 6) NULL,
	[MRP] [decimal](18, 6) NULL,
	[COMPANYPRICE] [decimal](18, 6) NULL,
	[REPORTINGUOM] [int] NULL,
	[REPORTINGUNIT] [decimal](18, 6) NULL,
	[BASEUOM] [int] NULL,
	[UOM1] [int] NULL,
	[UOM2] [int] NULL,
	[UOM1CONVERSION] [decimal](18, 6) NULL,
	[UOM2CONVERSION] [decimal](18, 6) NULL,
	[PURCHASEUOM] [int] NULL,
	[SALESUOM] [int] NULL,
	[PRICEATUOM] [int] NULL,
	[PACKID] [int] NULL,
	[CONTENTID] [int] NULL,
	[FLAVOURID] [int] NULL,
	[ALIAS] [varchar](255) NULL,
	[SALESTAX] [int] NULL,
	[PURCHASETAX] [int] NULL,
	[VAT] [int] NULL,
	[ACTIVE] [int] NULL,
	[STATUS] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[UOM3] [int] NULL,
	[UOM3CONVERSION] [decimal](18, 6) NULL,
	[IVYSTATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[REPORTS]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[REPORTS](
	[REPORTID] [decimal](19, 0) NULL,
	[REPORTNAME] [varchar](255) NULL,
	[REPORTDATE] [datetime2](7) NULL,
	[COMPANYFROMID] [varchar](50) NULL,
	[PARAMETERID] [int] NULL,
	[STATUS] [int] NULL,
	[MESSAGEID] [varchar](4000) NULL,
	[DATEOFCREATION] [datetime2](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[SALESMAN]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[SALESMAN](
	[ID] [int] NOT NULL,
	[DISTRIBUTORID] [int] NULL,
	[SALESMANNAME] [varchar](255) NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[SALESMANMASTER_ABSTRACT_MOBILITY]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[SALESMANMASTER_ABSTRACT_MOBILITY](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[PLDCODE] [varchar](255) NULL,
	[SALESMANID] [int] NULL,
	[USER_CODE] [varchar](255) NULL,
	[USER_NAME] [varchar](255) NULL,
	[USER_TYPE] [varchar](255) NULL,
	[GENDER] [varchar](255) NULL,
	[ADDRESS] [varchar](255) NULL,
	[MOBILENO] [varchar](255) NULL,
	[EMAILID] [varchar](255) NULL,
	[USER_LOGIN_ID] [varchar](255) NULL,
	[USER_PASSWORD] [varchar](255) NULL,
	[FLAG] [varchar](1) NULL,
	[STATUS] [int] NULL,
	[IVYSTATUS] [int] NULL,
	[DYNAMICCOLID] [decimal](19, 0) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[SALESORDER_REPORT]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[SALESORDER_REPORT](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[PLDCODE] [varchar](255) NULL,
	[TRANSFERSTATUS] [int] NULL,
	[SO_TYPE] [varchar](255) NULL,
	[STATUS] [varchar](255) NULL,
	[REMARKS] [varchar](150) NULL,
	[PO_REFERENCE] [varchar](255) NULL,
	[BRANCH] [varchar](255) NULL,
	[VALUE] [decimal](18, 6) NULL,
	[DELIVERY_DATE] [datetime2](7) NULL,
	[SC_DATE] [datetime2](7) NULL,
	[CUSTOMER] [varchar](255) NULL,
	[SC_NUMBER] [varchar](255) NULL,
	[CREATIONDATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[SALESORDERDETAIL_REPORT]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[SALESORDERDETAIL_REPORT](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[TOPFRAME_ROW_ID] [int] NOT NULL,
	[BOTTOMFRAME_ROW_ID] [int] NOT NULL,
	[FORUMCODE] [varchar](255) NULL,
	[TAX_SUFFERED] [int] NULL,
	[Discount%] [int] NULL,
	[SALE_TAX] [varchar](255) NULL,
	[SALE_PRICE] [decimal](18, 6) NULL,
	[PENDING] [int] NULL,
	[QUANTITY] [int] NULL,
	[BATCH] [varchar](255) NULL,
	[ITEM_NAME] [varchar](255) NULL,
	[ITEM_CODE] [varchar](255) NULL,
	[CREATIONDATE] [datetime2](7) NULL,
	[STATUS] [int] NULL,
	[TRANSFERSTATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[TOPFRAME_ROW_ID] ASC,
	[BOTTOMFRAME_ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[SCHEME_INV_CUST]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[SCHEME_INV_CUST](
	[INVOICE_DATE] [datetime2](7) NULL,
	[CHANNELTYPE] [varchar](50) NULL,
	[RE_CHANNEL_TYPE] [varchar](50) NULL,
	[SALESMAN] [varchar](255) NULL,
	[PLDCODE] [varchar](50) NULL,
	[CUSTOMERID] [varchar](50) NULL,
	[PACK_SIZE] [varchar](4) NULL,
	[PRODUCT_CODE] [varchar](255) NULL,
	[TOTAL] [decimal](18, 6) NULL,
	[SALESTAXVALUE] [decimal](18, 6) NULL,
	[QUANTITY] [decimal](18, 6) NULL,
	[REPORTID] [decimal](19, 0) NULL,
	[ROW_ID] [int] NULL,
	[SALESPRICE] [decimal](18, 6) NULL,
	[DISCOUNT] [varchar](255) NULL,
	[MRP] [decimal](18, 6) NULL,
	[REPORTINGUNIT] [decimal](18, 6) NULL,
	[INVOICEID] [varchar](255) NULL,
	[BOTTOMFRAME_ROW_ID] [int] NULL,
	[UNIQUE_RETAILERCODE] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[SCHEME_SPEND_DPD]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[SCHEME_SPEND_DPD](
	[INVOICEID] [varchar](255) NULL,
	[PRODUCTCODE] [varchar](255) NULL,
	[SCHEMEID] [varchar](255) NULL,
	[SCHEMEAMOUNT] [decimal](18, 6) NULL,
	[INVOICEDATE] [datetime2](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[SCHEME_TOTAL_QUANTITY]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[SCHEME_TOTAL_QUANTITY](
	[INVOICEID] [varchar](255) NULL,
	[PRODUCTCODE] [varchar](255) NULL,
	[DATE] [datetime2](7) NULL,
	[QUANTITY] [decimal](18, 6) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[SCHEMEDETAIL]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[SCHEMEDETAIL](
	[REPORTID] [decimal](19, 0) NULL,
	[ROW_ID] [int] NULL,
	[INVOICEID] [varchar](50) NULL,
	[PRODUCTCODE] [varchar](50) NULL,
	[SCHEMEID] [decimal](19, 0) NULL,
	[SCHEMEAMOUNT] [decimal](18, 6) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[STOCK]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[STOCK](
	[REPORTID] [decimal](19, 0) NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[PLDCODE] [varchar](255) NULL,
	[ITEMCODE] [varchar](255) NULL,
	[SALEABLESTOCK] [decimal](18, 6) NULL,
	[FREESTOCK] [decimal](18, 6) NULL,
	[CLOSINGVALUE] [decimal](18, 6) NULL,
	[FORUMCODE] [varchar](255) NULL,
	[STATUS] [int] NULL,
	[DYNAMICCOLID] [decimal](19, 0) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[REGION] [varchar](50) NULL,
	[REPORTDATE] [datetime2](7) NULL,
	[REPORTINGUNIT] [decimal](18, 6) NULL,
	[UOM1CONVERSION] [decimal](18, 6) NULL,
	[YEAR_MONTH] [varchar](6) NOT NULL,
 CONSTRAINT [PK__STOCK__6ED05F6A688C295A] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC,
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[SUBCHANNEL]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[SUBCHANNEL](
	[ID] [int] NOT NULL,
	[SUBCHANNELNAME] [varchar](255) NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
	[IVYSTATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[SUPPLYCHAINGEOGRAPHYMAPPING]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STG].[SUPPLYCHAINGEOGRAPHYMAPPING](
	[ID] [int] NOT NULL,
	[SUPPLYCHAINHIERARCHYID] [int] NULL,
	[GEOGRAPHYHIERARCHYID] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [STG].[UOMMASTER]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[UOMMASTER](
	[ID] [int] NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[ACTIVE] [int] NULL,
	[CREATEDBY] [int] NULL,
	[LASTUPDATEDBY] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[V_CUSTOMER]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[V_CUSTOMER](
	[RETAILERCODE] [varchar](100) NULL,
	[PLDCODE] [varchar](50) NULL,
	[CUSTOMERCODE] [varchar](50) NULL,
	[SALESMANNAME] [varchar](255) NULL,
	[CHANNELTYPENAME] [varchar](255) NULL,
	[SUBCHANNELNAME] [varchar](255) NULL,
	[ACTIVE] [int] NULL,
	[CREATIONTIME] [datetime2](7) NULL,
	[LASTUPDATEDTIME] [datetime2](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [STG].[XXKIPL_CALENWK445]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [STG].[XXKIPL_CALENWK445](
	[CWK_PERIOD] [int] NOT NULL,
	[CWK_WKNO] [int] NOT NULL,
	[CWK_WKOFMONTH] [int] NOT NULL,
	[CWK_STARTDT] [datetime2](7) NULL,
	[CWK_ENDDT] [datetime2](7) NULL,
	[CWK_STATUS] [int] NULL,
	[CWK_REMARK] [varchar](50) NULL,
	[CWK_WSTARTDT] [datetime2](7) NULL,
	[CWK_WENDDT] [datetime2](7) NULL,
	[CWK_WSTATUS] [int] NULL,
	[CWK_MONTHNAME] [varchar](20) NULL,
	[CWK_TYPE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CWK_PERIOD] ASC,
	[CWK_WKNO] ASC,
	[CWK_WKOFMONTH] ASC,
	[CWK_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [WRK].[TEMP1_1]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WRK].[TEMP1_1](
	[ID] [int] NULL,
	[PLDCODE] [varchar](50) NULL,
	[PLDNAME] [varchar](255) NULL,
	[ADDRESS_1] [varchar](510) NULL,
	[ADDRESS_2] [varchar](510) NULL,
	[ADDRESS_3] [varchar](510) NULL,
	[ADDRESS_4] [varchar](510) NULL,
	[STREET] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[DISTRICT] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[REGION] [varchar](50) NULL,
	[COUNTRY] [varchar](50) NULL,
	[CONTACTPERSON] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[PHONE] [varchar](255) NULL,
	[PINCODE] [varchar](50) NULL,
	[FORUMCODE] [varchar](50) NULL,
	[TINNUMBER] [varchar](50) NULL,
	[KIN_F_REGNNO] [varchar](50) NULL,
	[CSTREGNNO] [varchar](50) NULL,
	[SUPPLYCHAIN] [varchar](255) NULL,
	[ACTIVE] [int] NULL,
	[POSUGGESTEDQTY] [decimal](18, 0) NULL,
	[MINORDERQTY] [decimal](18, 0) NULL,
	[CFAMAIL] [varchar](512) NULL,
	[STATUS] [int] NULL,
	[PREFERREDPOPAYMENTMODE] [int] NULL,
	[PREFERREDPOTYPE] [int] NULL,
	[POCLOSUREUSERNAME] [varchar](256) NULL,
	[POCLOSUREPASSWORD] [varchar](256) NULL,
	[ATTRIBUTE1] [varchar](255) NULL,
	[ATTRIBUTE2] [varchar](255) NULL,
	[ATTRIBUTE3] [varchar](255) NULL,
	[ATTRIBUTE4] [varchar](255) NULL,
	[ATTRIBUTE5] [varchar](255) NULL,
	[ATTRIBUTE6] [varchar](255) NULL,
	[ATTRIBUTE7] [varchar](255) NULL,
	[ATTRIBUTE8] [varchar](255) NULL,
	[ATTRIBUTE9] [varchar](255) NULL,
	[ATTRIBUTE10] [varchar](255) NULL,
	[ATTRIBUTE11] [varchar](255) NULL,
	[ATTRIBUTE12] [varchar](255) NULL,
	[ATTRIBUTE13] [varchar](255) NULL,
	[ATTRIBUTE14] [varchar](255) NULL,
	[ATTRIBUTE15] [varchar](255) NULL,
	[ATTRIBUTE16] [varchar](255) NULL,
	[ATTRIBUTE17] [varchar](255) NULL,
	[ATTRIBUTE18] [varchar](255) NULL,
	[ATTRIBUTE19] [varchar](255) NULL,
	[ATTRIBUTE20] [varchar](255) NULL,
	[IVYSTATUS] [int] NULL,
	[CONTACTPERSONPHONENO] [varchar](20) NULL,
	[DW_CRE_USR] [varchar](100) NULL,
	[DW_CRE_TS] [datetime2](7) NULL,
	[DW_MOD_USR] [varchar](100) NULL,
	[DW_MOD_TS] [datetime2](7) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [STG].[V_DMS_INVOICE]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [STG].[V_DMS_INVOICE] AS
SELECT distinct a.REPORTID, TOPFRAME_ROW_ID, BOTTOMFRAME_ROW_ID,  a.ITEMCODE, a.ITEMNAME,  BATCH ,a.QUANTITY, a.VOLUME, a.SALESPRICE, a.SALETAX, a.TAXSUFFERED, a.DISCOUNT, a.STCREDIT, 
                         a.TOTAL, a.ITEMFORUMCODE, a.TAXSUFFEREDVALUE, a.SALESTAXVALUE, a.STATUS, a.PRICEMARGINID, b.PLDCODE, b.INVOICEID, b.DATE, b.CUSTOMERID, b.SALESMAN, b.CHANNELTYPE, 
                         b.SUBCHANNELTYPE, b.CUSTOMER,p.MRP,
                                         p.PRODUCTCODE,
  p.PRODUCTNAME,
  p.REPORTINGUNIT,
  p.CONVERSIONFACTOR,
  p.UOM1CONVERSION,b.REFERENCE,convert(varchar(100),b.RCNTYPE) as RCNTYPE
FROM            STG.INVOICESDETAIL_REPORT AS a INNER JOIN
                         STG.INVOICES_REPORT AS b ON b.REPORTID = a.REPORTID AND b.ROW_ID = a.TOPFRAME_ROW_ID AND b.STATUS = 1
                                         and (b.DATE >= '2014-12-31')
                                         left outer join KAP_DMS.STG.PRODUCTMASTER as p on p.productcode=a.itemcode
GO
/****** Object:  View [STG].[V_KATALYST]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [STG].[V_KATALYST] AS 

SELECT * FROM (
select distinct
f.UID,
f.PLDCODE,
f.PLDNAME,
f.RETAILERNAME,
f.RETAILERCATEGORY,
sh.ASM,
sh.TSI,
sh.RSM,
f.REGION,
f.STATE,
f.CITY,
f.SALESMAN,
f.SUBCHANNELNAME,
f.CUSTOMERCODE,
ph.CATEGORY,
ph.BRAND_NAME,
f.PACK_SIZE,
f.FINANCIAL_YEAR as INVOICE_YEAR,
f.MONTH_NO as INVOICE_MONTH,
--d.FINANCIAL_YEAR as INVOICE_YEAR,
--d.MONTH_NO as INVOICE_MONTH,
(f.QUANTITY) as QTY,(f.TOTAL) as TOTAL_VALUE,(f.KG) as TON,(f.CASES) as CASES
from
(SELECT  IIF(RETAILERCODE IS NULL, PLDCODE+CUSTOMERID, RETAILERCODE ) AS UID,STATE,CITY,CUSTOMERCODE,
PLDNAME , PLDCODE ,RETAILERNAME,CUSTOMERNAME,REGION, ISNULL(RETAILERCATEGORY,'') as RETAILERCATEGORY,
          substring(ITEMCODE,1,4) AS PACK_SIZE,SALESMAN,SUBCHANNELNAME,SUM(VALUE) AS VALUE,
          SUM(QUANTITY) AS QUANTITY, FINANCIAL_YEAR,MONTH_NO,
                                  SUM(TOTAL) TOTAL , SUM(SALESTAXVALUE) SALESTAXVALUE ,
                                   SUM(CAST(QUANTITY AS DECIMAL(25,10)) * CAST(CONVERSIONFACTOR AS DECIMAL(25,10))) AS KG ,
                                   SUM(CAST(QUANTITY AS DECIMAL(25,10)) / CAST(REPORTINGUNIT AS DECIMAL(25,10))) AS CASES
FROM (
SELECT DISTINCT IR.REPORTID AS REPORTID_IR , IDR.REPORTID AS REPORTID_IDR , IR.ROW_ID , IDR.TOPFRAME_ROW_ID , 
IDR.BOTTOMFRAME_ROW_ID ,dt.FINANCIAL_YEAR,dt.MONTH_NO,
D.PLDNAME,D.PLDCODE,g.REGION,g.STATE,g.CITY,
IR.CUSTOMERID,IR.CUSTOMER AS RETAILERNAME,IR.SALESMAN,IR.INVOICEID, C.RETAILERCODE,c.CUSTOMERNAME,c.CUSTOMERCODE,
IR.DATE AS INVOICEDATE,CT.CHANNELTYPENAME AS RETAILERCATEGORY,
ITEMCODE,ITEMNAME, SC.SUBCHANNELNAME,PH2.NAME PACKSIZE,MRP,IR.BEAT AS 'BEATNAME', SUBSTRING(PH2.NAME,1,2)CATEGORY,
VOLUME AS VOLUME,TOTAL AS VALUE, PM.REPORTINGUNIT REPORTINGUNIT , IDR.TOTAL , IDR.SALESTAXVALUE ,
PM.CONVERSIONFACTOR , IDR.QUANTITY , IDR.SALETAX
FROM stg.INVOICES_REPORT IR 
JOIN stg.INVOICESDETAIL_REPORT IDR ON IDR.REPORTID=IR.REPORTID AND IDR.TOPFRAME_ROW_ID=IR.ROW_ID
JOIN stg.DISTRIBUTOR D ON IR.PLDCODE=D.PLDCODE
JOIN stg.SUPPLYCHAINGEOGRAPHYMAPPING SCGM ON SCGM.SUPPLYCHAINHIERARCHYID = D.SUPPLYCHAINID
JOIN stg.GEOGRAPHYHIERARCHY GH ON GH.ID = SCGM.GEOGRAPHYHIERARCHYID
JOIN stg.GEOGRAPHYHIERARCHY GH1 ON GH1.ID = GH.PARENTID
inner join kap_ind_sales.dbo.kin_f_geography_hierarchy as g on g.DISTRIBUTOR_CODE=ir.PLDCODE
JOIN stg.GEOGRAPHYHIERARCHY GH2 ON GH2.ID = GH1.PARENTID
inner join kap_ind_sales.dbo.KIN_F_DATE as dt on dt.date=ir.DATE
JOIN stg.PRODUCTMASTER PM ON IDR.ITEMCODE=PM.PRODUCTCODE
JOIN stg.PRODUCTHIERARCHY PH ON PH.ID=PM.PRODUCTHIERARCHYID    
JOIN stg.PRODUCTHIERARCHY PH2 ON PH.PARENTID=PH2.ID
JOIN stg.DistibutorwiseCustomer DC ON D.ID = DC.DistributorID
INNER JOIN stg.Customer C ON IR.CustomerID = C.CustomerCode and DC.CustomerID = C.ID
FULL OUTER JOIN stg.CHANNELTYPE CT ON C.ChannelTypeID = CT.ID
FULL OUTER JOIN stg.SUBCHANNEL SC ON C.SubChannelTypeID = SC.ID
LEFT OUTER JOIN stg.MANAGERCNTYPE MR ON MR.RCNTYPENAME=IR.RCNTYPE WHERE IR.Status=1 
)AA
GROUP BY  PLDNAME, PLDCODE,RETAILERNAME,CUSTOMERNAME,REGION,customerid,state,city,CUSTOMERCODE,
RETAILERCATEGORY,substring(ITEMCODE,1,4),RETAILERCODE,
SALESMAN,MRP,SUBCHANNELNAME ,FINANCIAL_YEAR,MONTH_NO
) as f
left outer join KAP_IND_SALES.dbo.KIN_F_SALES_HIERARCHY as sh on
sh.DISTRIBUTOR_CODE=f.PLDCODE and sh.DVSM =f.SALESMAN
left outer join KAP_IND_SALES.dbo.KIN_F_PRODUCT_HIERARCHY as ph on
ph.PACK_SIZE=f.PACK_SIZE) AS A

GO
/****** Object:  View [STG].[V_RETAILER]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [STG].[V_RETAILER] AS
SELECT * FROM (
select c.RETAILERCODE as UID,GH1.NAME AS 'STATE', GH2.NAME AS 'REGION',D.PLDCODE as DISTRIBUTOR_CODE,
D.PLDNAME as DISTRIBUTOR_NAME,c.CUSTOMERCODE,c.CUSTOMERNAME,c.ADDRESS1,c.ADDRESS2,c.CITY,c.MOBILENUMBER,c.TINNUMBER,
c.EMAIL,c.PHONE,c.PINCODE,c.FORUMCODE,c.STATUS,cm.CHANNELTYPENAME,cm.SUBCHANNELNAME,b.BEATNAME,
op.OutletProgram, op.MerpStatus as OUTLETPROGRAM_MAPSTATUS, op.Active as OUTLETPROGRAMSTATUS, op.Creationdate as OUTLETPROGRAM_MAPDATE,
c.ACTIVE as OUTLET_STATUS,c.CREATIONTIME as OUTLET_CREATION_TIME,sm.SALESMANNAME,dt.month_no as OUTLET_CREATED_MONTH,dt.financial_year as OUTLET_CREATED_YEAR
 from stg.customer as c
left outer join stg.beat as b on
b.ID=c.BEATID
inner join stg.DISTIBUTORWISECUSTOMER as dc on
dc.customerid=c.id
inner join stg.SALESMAN as sm on
sm.id=c.salesmanid
inner join stg.DISTRIBUTOR as d on
d.id=dc.distributorid
JOIN stg.SUPPLYCHAINGEOGRAPHYMAPPING SCGM ON SCGM.SUPPLYCHAINHIERARCHYID = D.SUPPLYCHAINID
JOIN stg.GEOGRAPHYHIERARCHY GH ON GH.ID = SCGM.GEOGRAPHYHIERARCHYID
JOIN stg.GEOGRAPHYHIERARCHY GH1 ON GH1.ID = GH.PARENTID
JOIN stg.GEOGRAPHYHIERARCHY GH2 ON GH2.ID = GH1.PARENTID
inner join kap_ind_sales.dbo.kin_f_date as dt on
dt.date=cast(c.CREATIONTIME as date)
left outer join KAP_IND_SALES.wrk.channel_mapping as cm on
cm.pldcode=d.pldcode and cm.customercode=c.CUSTOMERCODE
left outer join
(select a.PLDCODE,a.CustomerCode,a.OUTLETPROGRAM,a.MERPSTATUS,a.ACTIVE,a.Creationdate
from
(SELECT DISTINCT OLP.PLDCODE, OLP.CustomerID CustomerCode, OLP.OutletProgram, OLP.MerpStatus, OL.Active, Max(CreationDate) Creationdate
, case when OL.Active=1 and OLP.MerpStatus = 'Mapped' then 1
 when OL.Active=1 and OLP.MerpStatus = 'Unmapped' then -1
end  as FLAG
FROM stg.OutletProgram_Report OLP, stg.OutletProgram OL
WHERE OLP.OutletProgram = OL.OutletProgramName 
group by OLP.PLDCODE, OLP.CustomerID, OLP.OutletProgram, OLP.MerpStatus, OL.Active
) as a
inner join
(select a.PLDCODE,a.CustomerCode,a.OUTLETPROGRAM,sum(a.FLAG) as FLAG
from
(SELECT DISTINCT OLP.PLDCODE, OLP.CustomerID CustomerCode, OLP.OutletProgram, OLP.MerpStatus, OL.Active, Max(CreationDate) Creationdate
, case when OL.Active=1 and OLP.MerpStatus = 'Mapped' then 1
 when OL.Active=1 and OLP.MerpStatus = 'Unmapped' then -1
end  as FLAG
FROM stg.OutletProgram_Report OLP, stg.OutletProgram OL
WHERE OLP.OutletProgram = OL.OutletProgramName 
group by OLP.PLDCODE, OLP.CustomerID, OLP.OutletProgram, OLP.MerpStatus, OL.Active
) as a
group by a.PLDCODE,a.CustomerCode,a.OUTLETPROGRAM
having sum(a.flag) =1
) as b
on b.CustomerCode=a.CustomerCode and
b.OUTLETPROGRAM=a.OUTLETPROGRAM and
b.PLDCODE=a.PLDCODE
       ) as op
	   on op.PLDCODE=d.PLDCODE and op.CUSTOMERCODE=c.CUSTOMERCODE ) AS A
GO
/****** Object:  StoredProcedure [dbo].[sp_STAGE_DMS]    Script Date: 9/11/2018 6:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_STAGE_DMS]

AS
BEGIN
--use KAP_DMS;
delete from STG.INVOICES_REPORT
where date in
(select distinct date from stg.INVOICES_REPORT_PRESTG)
;
insert into stg.INVOICES_REPORT
select * from stg.INVOICES_REPORT_prestg;

delete from STG.INVOICESDETAIL_REPORT
where reportid in 
(select distinct reportid from stg.INVOICEDETAIL_REPORT_PRESTG);
insert into stg.INVOICESDETAIL_REPORT
select * from stg.INVOICEDETAIL_REPORT_PRESTG;

END

GO
USE [master]
GO
