USE [master]
GO
/****** Object:  Database [KEU_SCM]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE DATABASE [KEU_SCM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KEU_SCM', FILENAME = N'E:\SQL_DATA\MSSQL13.ANALYTICSPROD\Data\KEU_SCM.mdf' , SIZE = 307200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 256000KB )
 LOG ON 
( NAME = N'KEU_SCM_log', FILENAME = N'L:\SQL_LOGS\MSSQL13.ANALYTICSPROD\Logs\KEU_SCM_log.ldf' , SIZE = 153600KB , MAXSIZE = 2048GB , FILEGROWTH = 102400KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KEU_SCM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KEU_SCM]
GO
/****** Object:  User [us\SQL_KEYSTONE_SA_PROD_R]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [us\SQL_KEYSTONE_SA_PROD_R] FOR LOGIN [US\SQL_KEYSTONE_SA_PROD_R]
GO
/****** Object:  User [US\SQL_Keystone_SA_Prod]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [US\SQL_Keystone_SA_Prod] FOR LOGIN [US\SQL_KEYSTONE_SA_PROD]
GO
/****** Object:  User [US\SQL_DS_SUPPORT_R]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [US\SQL_DS_SUPPORT_R] FOR LOGIN [US\SQL_DS_SUPPORT_R]
GO
/****** Object:  User [US\SQL_DS_ANALYTICS_R]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [US\SQL_DS_ANALYTICS_R] FOR LOGIN [US\SQL_DS_ANALYTICS_R]
GO
/****** Object:  User [US\SQL_DATA_SERVICES]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [US\SQL_DATA_SERVICES] FOR LOGIN [US\SQL_DATA_SERVICES]
GO
/****** Object:  User [SQL_SPARK_PROD]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SQL_SPARK_PROD] FOR LOGIN [SQL_SPARK_PROD] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKRRD01]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKRRD01] FOR LOGIN [SAS_USKRRD01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKPLG01]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKPLG01] FOR LOGIN [SAS_USKPLG01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKPCL01]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKPCL01] FOR LOGIN [SAS_USKPCL01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKNXA19]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKNXA19] FOR LOGIN [SAS_USKNXA19] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKMEW01]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKMEW01] FOR LOGIN [SAS_USKMEW01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKLCH06]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKLCH06] FOR LOGIN [SAS_USKLCH06] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKKXW01]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKKXW01] FOR LOGIN [SAS_USKKXW01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKKFS02]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKKFS02] FOR LOGIN [SAS_USKKFS02] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKJXS19]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKJXS19] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKJTB03]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKJTB03] FOR LOGIN [SAS_USKJTB03] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKJAK14]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKJAK14] FOR LOGIN [SAS_USKJAK14] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKDRK07]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKDRK07] FOR LOGIN [SAS_USKDRK07] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKCRS01]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKCRS01] FOR LOGIN [SAS_USKCRS01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKBPH02]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [SAS_USKBPH02] FOR LOGIN [SAS_USKBPH02] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BODS]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE USER [BODS] FOR LOGIN [BODS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [db_view_def]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE ROLE [db_view_def]
GO
ALTER ROLE [db_datareader] ADD MEMBER [us\SQL_KEYSTONE_SA_PROD_R]
GO
ALTER ROLE [db_owner] ADD MEMBER [US\SQL_Keystone_SA_Prod]
GO
ALTER ROLE [db_view_def] ADD MEMBER [US\SQL_DS_SUPPORT_R]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_DS_SUPPORT_R]
GO
ALTER ROLE [db_view_def] ADD MEMBER [US\SQL_DS_ANALYTICS_R]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_DS_ANALYTICS_R]
GO
ALTER ROLE [db_owner] ADD MEMBER [US\SQL_DATA_SERVICES]
GO
ALTER ROLE [db_owner] ADD MEMBER [SQL_SPARK_PROD]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKRRD01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKPLG01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKPCL01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKNXA19]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKMEW01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKLCH06]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKKXW01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKKFS02]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKJXS19]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKJTB03]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKJAK14]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SAS_USKJAK14]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKDRK07]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKCRS01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKBPH02]
GO
ALTER ROLE [db_owner] ADD MEMBER [BODS]
GO
/****** Object:  Table [dbo].[COMP_EXECUTIONS]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMP_EXECUTIONS](
	[JOB_NAME] [varchar](40) NULL,
	[DATE_EXECUTION] [varchar](8) NULL,
	[DATE_LAST_EXTRACTION] [varchar](8) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_COMP]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_COMP](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[ACTID] [varchar](22) NULL,
	[AMATID] [varchar](22) NULL,
	[LOGCOMP] [varchar](40) NULL,
	[IOIND] [varchar](1) NULL,
	[MATCO] [varchar](1) NULL,
	[OFFCO] [varchar](1) NULL,
	[IOOFF] [decimal](9, 0) NULL,
	[OFFUNIT] [varchar](3) NULL,
	[IODUR] [decimal](13, 3) NULL,
	[DURUNIT] [varchar](3) NULL,
	[IS_MASTER] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_COMP_OLD]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_COMP_OLD](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[ACTID] [varchar](22) NULL,
	[AMATID] [varchar](22) NULL,
	[LOGCOMP] [varchar](40) NULL,
	[IOIND] [varchar](1) NULL,
	[MATCO] [varchar](1) NULL,
	[OFFCO] [varchar](1) NULL,
	[IOOFF] [decimal](9, 0) NULL,
	[OFFUNIT] [varchar](3) NULL,
	[IODUR] [decimal](13, 3) NULL,
	[DURUNIT] [varchar](3) NULL,
	[IS_MASTER] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_COMPALT]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_COMPALT](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[AMATID] [varchar](22) NULL,
	[MATID] [varchar](22) NULL,
	[DATET] [decimal](15, 0) NULL,
	[ACTID] [varchar](22) NULL,
	[DATEF] [decimal](15, 0) NULL,
	[PAR1] [decimal](13, 3) NULL,
	[PAR2] [decimal](13, 3) NULL,
	[PENAL] [int] NULL,
	[ALPST] [varchar](1) NULL,
	[ALPRF] [decimal](2, 0) NULL,
	[UPROB] [decimal](3, 0) NULL,
	[SUBLOC] [varchar](4) NULL,
	[TIPP] [varchar](1) NULL,
	[AEXPL] [varchar](1) NULL,
	[UNIT] [varchar](3) NULL,
	[BOMID] [varchar](22) NULL,
	[MET_LRCH] [varchar](2) NULL,
	[MAX_FERTL] [decimal](13, 3) NULL,
	[FIX_AS_J] [decimal](13, 3) NULL,
	[FIX_AS_E] [decimal](13, 3) NULL,
	[FIX_AS_L] [decimal](13, 3) NULL,
	[ABL_ZAHL] [decimal](6, 0) NULL,
	[RUNDFAKT] [decimal](13, 3) NULL,
	[UTC_KONV] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_COMPALT_OLD]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_COMPALT_OLD](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[AMATID] [varchar](22) NULL,
	[MATID] [varchar](22) NULL,
	[DATET] [decimal](15, 0) NULL,
	[ACTID] [varchar](22) NULL,
	[DATEF] [decimal](15, 0) NULL,
	[PAR1] [decimal](13, 3) NULL,
	[PAR2] [decimal](13, 3) NULL,
	[PENAL] [int] NULL,
	[ALPST] [varchar](1) NULL,
	[ALPRF] [decimal](2, 0) NULL,
	[UPROB] [decimal](3, 0) NULL,
	[SUBLOC] [varchar](4) NULL,
	[TIPP] [varchar](1) NULL,
	[AEXPL] [varchar](1) NULL,
	[UNIT] [varchar](3) NULL,
	[BOMID] [varchar](22) NULL,
	[MET_LRCH] [varchar](2) NULL,
	[MAX_FERTL] [decimal](13, 3) NULL,
	[FIX_AS_J] [decimal](13, 3) NULL,
	[FIX_AS_E] [decimal](13, 3) NULL,
	[FIX_AS_L] [decimal](13, 3) NULL,
	[ABL_ZAHL] [decimal](6, 0) NULL,
	[RUNDFAKT] [decimal](13, 3) NULL,
	[UTC_KONV] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_MATKEY]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_MATKEY](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[MATID] [varchar](22) NULL,
	[MATNR] [varchar](40) NULL,
	[PRODUCT_TYPE] [varchar](2) NULL,
	[LVORM] [varchar](1) NULL,
	[FLAGCLASS] [varchar](1) NULL,
	[FLAGPACK] [varchar](1) NULL,
	[DISST] [varchar](3) NULL,
	[MEINS] [varchar](3) NULL,
	[ATTYP] [varchar](2) NULL,
	[LOGUNIT] [varchar](3) NULL,
	[CWREL] [varchar](1) NULL,
	[TY2TQ] [varchar](1) NULL,
	[BRGEW] [decimal](13, 3) NULL,
	[NTGEW] [decimal](13, 3) NULL,
	[GEWEI] [varchar](3) NULL,
	[VOLUM] [decimal](13, 3) NULL,
	[VOLEH] [varchar](3) NULL,
	[SHELF_LIFE_FLAG] [varchar](1) NULL,
	[SHELF_LIFE_DUR] [decimal](11, 0) NULL,
	[MATURITY_DUR] [decimal](11, 0) NULL,
	[SHLF_LFE_REQ_MIN] [decimal](11, 0) NULL,
	[SHLF_LFE_REQ_MAX] [decimal](11, 0) NULL,
	[MHDLP] [decimal](3, 0) NULL,
	[SLED_BBD] [varchar](1) NULL,
	[SLDRND] [varchar](1) NULL,
	[ATT01] [varchar](40) NULL,
	[ATT02] [varchar](30) NULL,
	[ATT03] [varchar](20) NULL,
	[ATT04] [varchar](10) NULL,
	[ATT05] [varchar](10) NULL,
	[BOD_DEPLVL] [varchar](1) NULL,
	[EXCL_EXPEDITE] [varchar](1) NULL,
	[PROD_PAOOPT] [varchar](1) NULL,
	[RESTRICT_INVBAL] [varchar](1) NULL,
	[MATKL] [varchar](9) NULL,
	[COMPL] [decimal](2, 0) NULL,
	[STFAC] [decimal](2, 0) NULL,
	[TRAGR] [varchar](4) NULL,
	[TS_SDP_USE] [varchar](1) NULL,
	[PRDHA] [varchar](18) NULL,
	[GTIN_IND] [varchar](1) NULL,
	[DISPLAY] [varchar](1) NULL,
	[HERKL] [varchar](3) NULL,
	[BATCH_REQ] [varchar](1) NULL,
	[KITCOMP] [varchar](1) NULL,
	[PRDSET_IND] [varchar](1) NULL,
	[SERIAL] [varchar](4) NULL,
	[DATA_CHECK_BY] [varchar](12) NULL,
	[DATA_CHECK_AT] [decimal](15, 0) NULL,
	[KOSCH] [varchar](18) NULL,
	[KOSCH_GRP] [varchar](18) NULL,
	[VMIKOSCH] [varchar](18) NULL,
	[VMIKOSCH_GRP] [varchar](18) NULL,
	[PACKGR] [varchar](4) NULL,
	[RMATP] [varchar](22) NULL,
	[HUTYP_DFLT] [varchar](4) NULL,
	[CUOBJ] [decimal](18, 0) NULL,
	[SATID] [varchar](22) NULL,
	[KZKFG] [varchar](1) NULL,
	[MATVERS_HEAD] [varchar](22) NULL,
	[MATVERS_TYPE] [varchar](1) NULL,
	[MATVERS_CHNR] [varchar](12) NULL,
	[TEMPRPBLOCK] [varchar](2) NULL,
	[TEMPRPFROM] [decimal](15, 0) NULL,
	[TEMPRPTO] [decimal](15, 0) NULL,
	[LIKEID] [varchar](22) NULL,
	[PHIN_FROM] [date] NULL,
	[PHIN_TO] [date] NULL,
	[PHIN_TSID] [varchar](22) NULL,
	[PHOUT_FROM] [date] NULL,
	[PHOUT_TO] [date] NULL,
	[PHOUT_TSID] [varchar](22) NULL,
	[LIFE_CYCLE_LOCID] [varchar](22) NULL,
	[CREATEUSER] [varchar](12) NULL,
	[CREATEUTC] [decimal](15, 0) NULL,
	[CHANGEUSER] [varchar](12) NULL,
	[CHANGEUTC] [decimal](15, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_MATKEY_OLD]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_MATKEY_OLD](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[MATID] [varchar](22) NULL,
	[MATNR] [varchar](40) NULL,
	[PRODUCT_TYPE] [varchar](2) NULL,
	[LVORM] [varchar](1) NULL,
	[FLAGCLASS] [varchar](1) NULL,
	[FLAGPACK] [varchar](1) NULL,
	[DISST] [varchar](3) NULL,
	[MEINS] [varchar](3) NULL,
	[ATTYP] [varchar](2) NULL,
	[LOGUNIT] [varchar](3) NULL,
	[CWREL] [varchar](1) NULL,
	[TY2TQ] [varchar](1) NULL,
	[BRGEW] [decimal](13, 3) NULL,
	[NTGEW] [decimal](13, 3) NULL,
	[GEWEI] [varchar](3) NULL,
	[VOLUM] [decimal](13, 3) NULL,
	[VOLEH] [varchar](3) NULL,
	[SHELF_LIFE_FLAG] [varchar](1) NULL,
	[SHELF_LIFE_DUR] [decimal](11, 0) NULL,
	[MATURITY_DUR] [decimal](11, 0) NULL,
	[SHLF_LFE_REQ_MIN] [decimal](11, 0) NULL,
	[SHLF_LFE_REQ_MAX] [decimal](11, 0) NULL,
	[MHDLP] [decimal](3, 0) NULL,
	[SLED_BBD] [varchar](1) NULL,
	[SLDRND] [varchar](1) NULL,
	[ATT01] [varchar](40) NULL,
	[ATT02] [varchar](30) NULL,
	[ATT03] [varchar](20) NULL,
	[ATT04] [varchar](10) NULL,
	[ATT05] [varchar](10) NULL,
	[BOD_DEPLVL] [varchar](1) NULL,
	[EXCL_EXPEDITE] [varchar](1) NULL,
	[PROD_PAOOPT] [varchar](1) NULL,
	[RESTRICT_INVBAL] [varchar](1) NULL,
	[MATKL] [varchar](9) NULL,
	[COMPL] [decimal](2, 0) NULL,
	[STFAC] [decimal](2, 0) NULL,
	[TRAGR] [varchar](4) NULL,
	[TS_SDP_USE] [varchar](1) NULL,
	[PRDHA] [varchar](18) NULL,
	[GTIN_IND] [varchar](1) NULL,
	[DISPLAY] [varchar](1) NULL,
	[HERKL] [varchar](3) NULL,
	[BATCH_REQ] [varchar](1) NULL,
	[KITCOMP] [varchar](1) NULL,
	[PRDSET_IND] [varchar](1) NULL,
	[SERIAL] [varchar](4) NULL,
	[DATA_CHECK_BY] [varchar](12) NULL,
	[DATA_CHECK_AT] [decimal](15, 0) NULL,
	[KOSCH] [varchar](18) NULL,
	[KOSCH_GRP] [varchar](18) NULL,
	[VMIKOSCH] [varchar](18) NULL,
	[VMIKOSCH_GRP] [varchar](18) NULL,
	[PACKGR] [varchar](4) NULL,
	[RMATP] [varchar](22) NULL,
	[HUTYP_DFLT] [varchar](4) NULL,
	[CUOBJ] [decimal](18, 0) NULL,
	[SATID] [varchar](22) NULL,
	[KZKFG] [varchar](1) NULL,
	[MATVERS_HEAD] [varchar](22) NULL,
	[MATVERS_TYPE] [varchar](1) NULL,
	[MATVERS_CHNR] [varchar](12) NULL,
	[TEMPRPBLOCK] [varchar](2) NULL,
	[TEMPRPFROM] [decimal](15, 0) NULL,
	[TEMPRPTO] [decimal](15, 0) NULL,
	[LIKEID] [varchar](22) NULL,
	[PHIN_FROM] [date] NULL,
	[PHIN_TO] [date] NULL,
	[PHIN_TSID] [varchar](22) NULL,
	[PHOUT_FROM] [date] NULL,
	[PHOUT_TO] [date] NULL,
	[PHOUT_TSID] [varchar](22) NULL,
	[LIFE_CYCLE_LOCID] [varchar](22) NULL,
	[CREATEUSER] [varchar](12) NULL,
	[CREATEUTC] [decimal](15, 0) NULL,
	[CHANGEUSER] [varchar](12) NULL,
	[CHANGEUTC] [decimal](15, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_MATMAP]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_MATMAP](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[EXT_MATNR] [varchar](40) NULL,
	[PRODUCT_TYPE] [varchar](2) NULL,
	[LOGQS] [varchar](8) NULL,
	[MATID] [varchar](22) NULL,
	[MATNR] [varchar](40) NULL,
	[LOGSYS] [varchar](10) NULL,
	[MATVERS] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_MATMAP_OLD]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_MATMAP_OLD](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[EXT_MATNR] [varchar](40) NULL,
	[PRODUCT_TYPE] [varchar](2) NULL,
	[LOGQS] [varchar](8) NULL,
	[MATID] [varchar](22) NULL,
	[MATNR] [varchar](40) NULL,
	[LOGSYS] [varchar](10) NULL,
	[MATVERS] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_PLAN]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_PLAN](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[PLANID] [varchar](22) NULL,
	[PLANNR] [varchar](60) NULL,
	[CREATEUSER] [varchar](12) NULL,
	[CREATEUTC] [decimal](15, 0) NULL,
	[CHANGEUSER] [varchar](12) NULL,
	[CHANGEUTC] [decimal](15, 0) NULL,
	[COST1] [int] NULL,
	[COST2] [int] NULL,
	[NOACT] [decimal](6, 0) NULL,
	[STATE] [varchar](1) NULL,
	[PL_USAGE] [varchar](1) NULL,
	[COST_FIX] [int] NULL,
	[COST_VAR] [int] NULL,
	[PROP_EXIST] [varchar](1) NULL,
	[REL_PLANID] [varchar](22) NULL,
	[COSID] [varchar](22) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_PLAN_OLD]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_PLAN_OLD](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[PLANID] [varchar](22) NULL,
	[PLANNR] [varchar](60) NULL,
	[CREATEUSER] [varchar](12) NULL,
	[CREATEUTC] [decimal](15, 0) NULL,
	[CHANGEUSER] [varchar](12) NULL,
	[CHANGEUTC] [decimal](15, 0) NULL,
	[COST1] [int] NULL,
	[COST2] [int] NULL,
	[NOACT] [decimal](6, 0) NULL,
	[STATE] [varchar](1) NULL,
	[PL_USAGE] [varchar](1) NULL,
	[COST_FIX] [int] NULL,
	[COST_VAR] [int] NULL,
	[PROP_EXIST] [varchar](1) NULL,
	[REL_PLANID] [varchar](22) NULL,
	[COSID] [varchar](22) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_PLANACT]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_PLANACT](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[ACTID] [varchar](22) NULL,
	[VORNR] [varchar](12) NULL,
	[ACTNR] [varchar](40) NULL,
	[PLANID] [varchar](22) NULL,
	[SCRAP] [decimal](5, 4) NULL,
	[ACTTYPE] [varchar](1) NULL,
	[SETUP] [varchar](1) NULL,
	[TIPP] [varchar](1) NULL,
	[NOSYNCFLG] [varchar](1) NULL,
	[EFFECTIVITY] [int] NULL,
	[MET_LRCH] [varchar](2) NULL,
	[MAX_FERTL] [decimal](13, 3) NULL,
	[FIX_AS_J] [decimal](13, 3) NULL,
	[FIX_AS_E] [decimal](13, 3) NULL,
	[FIX_AS_L] [decimal](13, 3) NULL,
	[ABL_ZAHL] [decimal](6, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_PLANACT_OLD]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_PLANACT_OLD](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[ACTID] [varchar](22) NULL,
	[VORNR] [varchar](12) NULL,
	[ACTNR] [varchar](40) NULL,
	[PLANID] [varchar](22) NULL,
	[SCRAP] [decimal](5, 4) NULL,
	[ACTTYPE] [varchar](1) NULL,
	[SETUP] [varchar](1) NULL,
	[TIPP] [varchar](1) NULL,
	[NOSYNCFLG] [varchar](1) NULL,
	[EFFECTIVITY] [int] NULL,
	[MET_LRCH] [varchar](2) NULL,
	[MAX_FERTL] [decimal](13, 3) NULL,
	[FIX_AS_J] [decimal](13, 3) NULL,
	[FIX_AS_E] [decimal](13, 3) NULL,
	[FIX_AS_L] [decimal](13, 3) NULL,
	[ABL_ZAHL] [decimal](6, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_PLANACTT]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_PLANACTT](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[LANGU] [varchar](1) NULL,
	[ACTID] [varchar](22) NULL,
	[TEXT] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAPAPO_PLANACTT_OLD]    Script Date: 11/20/2018 5:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAPAPO_PLANACTT_OLD](
	[SOURCE_SYSTEM] [varchar](20) NULL,
	[MANDT] [varchar](3) NULL,
	[LANGU] [varchar](1) NULL,
	[ACTID] [varchar](22) NULL,
	[TEXT] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_COMP_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_COMP_IX] ON [dbo].[SAPAPO_COMP]
(
	[ACTID] ASC,
	[AMATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_COMP_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_COMP_IX] ON [dbo].[SAPAPO_COMP_OLD]
(
	[ACTID] ASC,
	[AMATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_COMPALT_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_COMPALT_IX] ON [dbo].[SAPAPO_COMPALT]
(
	[AMATID] ASC,
	[MATID] ASC,
	[DATET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_COMPALT_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_COMPALT_IX] ON [dbo].[SAPAPO_COMPALT_OLD]
(
	[AMATID] ASC,
	[MATID] ASC,
	[DATET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_MATKEY_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_MATKEY_IX] ON [dbo].[SAPAPO_MATKEY]
(
	[MATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_MATKEY_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_MATKEY_IX] ON [dbo].[SAPAPO_MATKEY_OLD]
(
	[MATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_MATMAP_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_MATMAP_IX] ON [dbo].[SAPAPO_MATMAP]
(
	[EXT_MATNR] ASC,
	[PRODUCT_TYPE] ASC,
	[LOGQS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_MATMAP_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_MATMAP_IX] ON [dbo].[SAPAPO_MATMAP_OLD]
(
	[EXT_MATNR] ASC,
	[PRODUCT_TYPE] ASC,
	[LOGQS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_PLAN_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_PLAN_IX] ON [dbo].[SAPAPO_PLAN]
(
	[PLANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_PLAN_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_PLAN_IX] ON [dbo].[SAPAPO_PLAN_OLD]
(
	[PLANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_PLANACT_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_PLANACT_IX] ON [dbo].[SAPAPO_PLANACT]
(
	[ACTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_PLANACT_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_PLANACT_IX] ON [dbo].[SAPAPO_PLANACT_OLD]
(
	[ACTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_PLANACTT_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_PLANACTT_IX] ON [dbo].[SAPAPO_PLANACTT]
(
	[LANGU] ASC,
	[ACTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SAPAPO_PLANACTT_IX]    Script Date: 11/20/2018 5:18:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SAPAPO_PLANACTT_IX] ON [dbo].[SAPAPO_PLANACTT_OLD]
(
	[LANGU] ASC,
	[ACTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
