USE [master]
GO
/****** Object:  Database [KG_MEMSQL]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE DATABASE [KG_MEMSQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KG_MEMSQL', FILENAME = N'E:\SQL_DATA\MSSQL13.ANALYTICSPROD\Data\KG_MEMSQL.mdf' , SIZE = 61976576KB , MAXSIZE = UNLIMITED, FILEGROWTH = 256000KB )
 LOG ON 
( NAME = N'KG_MEMSQL_log', FILENAME = N'L:\SQL_LOGS\MSSQL13.ANALYTICSPROD\Logs\KG_MEMSQL_log.ldf' , SIZE = 44185600KB , MAXSIZE = 2048GB , FILEGROWTH = 102400KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KG_MEMSQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KG_MEMSQL]
GO
/****** Object:  User [US\USKWKJ01]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [US\USKWKJ01] FOR LOGIN [US\USKWKJ01] WITH DEFAULT_SCHEMA=[US\USKWKJ01]
GO
/****** Object:  User [us\SQL_KEYSTONE_SA_PROD_R]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [us\SQL_KEYSTONE_SA_PROD_R] FOR LOGIN [US\SQL_KEYSTONE_SA_PROD_R]
GO
/****** Object:  User [US\SQL_Keystone_SA_Prod]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [US\SQL_Keystone_SA_Prod] FOR LOGIN [US\SQL_KEYSTONE_SA_PROD]
GO
/****** Object:  User [US\SQL_DS_SUPPORT_R]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [US\SQL_DS_SUPPORT_R] FOR LOGIN [US\SQL_DS_SUPPORT_R]
GO
/****** Object:  User [US\SQL_DS_ANALYTICS_R]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [US\SQL_DS_ANALYTICS_R] FOR LOGIN [US\SQL_DS_ANALYTICS_R] WITH DEFAULT_SCHEMA=[US\SQL_DS_ANALYTICS_R]
GO
/****** Object:  User [US\SQL_DATA_SERVICES]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [US\SQL_DATA_SERVICES] FOR LOGIN [US\SQL_DATA_SERVICES]
GO
/****** Object:  User [SQL_SPARK_PROD]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SQL_SPARK_PROD] FOR LOGIN [SQL_SPARK_PROD] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKRRD01]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKRRD01] FOR LOGIN [SAS_USKRRD01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKPLG01]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKPLG01] FOR LOGIN [SAS_USKPLG01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKPCL01]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKPCL01] FOR LOGIN [SAS_USKPCL01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKNXA19]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKNXA19] FOR LOGIN [SAS_USKNXA19] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKMEW01]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKMEW01] FOR LOGIN [SAS_USKMEW01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKLCH06]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKLCH06] FOR LOGIN [SAS_USKLCH06] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKKXW01]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKKXW01] FOR LOGIN [SAS_USKKXW01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKKFS02]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKKFS02] FOR LOGIN [SAS_USKKFS02] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKJXS19]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKJXS19] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKJTB03]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKJTB03] FOR LOGIN [SAS_USKJTB03] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKJAK14]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKJAK14] FOR LOGIN [SAS_USKJAK14] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKDRK07]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKDRK07] FOR LOGIN [SAS_USKDRK07] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKCRS01]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKCRS01] FOR LOGIN [SAS_USKCRS01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_USKBPH02]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_USKBPH02] FOR LOGIN [SAS_USKBPH02] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAS_PU_USKD1M14]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [SAS_PU_USKD1M14] FOR LOGIN [SAS_PU_USKD1M14] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BODS]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE USER [BODS] FOR LOGIN [BODS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [db_view_def]    Script Date: 11/20/2018 5:30:54 PM ******/
CREATE ROLE [db_view_def]
GO
ALTER ROLE [db_datareader] ADD MEMBER [us\SQL_KEYSTONE_SA_PROD_R]
GO
ALTER ROLE [db_owner] ADD MEMBER [US\SQL_Keystone_SA_Prod]
GO
ALTER ROLE [db_view_def] ADD MEMBER [US\SQL_DS_SUPPORT_R]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_DS_SUPPORT_R]
GO
ALTER ROLE [db_view_def] ADD MEMBER [US\SQL_DS_ANALYTICS_R]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_DS_ANALYTICS_R]
GO
ALTER ROLE [db_owner] ADD MEMBER [US\SQL_DATA_SERVICES]
GO
ALTER ROLE [db_owner] ADD MEMBER [SQL_SPARK_PROD]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKRRD01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKPLG01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKPCL01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKNXA19]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKMEW01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKLCH06]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKKXW01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKKFS02]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKJXS19]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKJTB03]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKJAK14]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SAS_USKJAK14]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKDRK07]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKCRS01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_USKBPH02]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAS_PU_USKD1M14]
GO
ALTER ROLE [db_owner] ADD MEMBER [BODS]
GO
/****** Object:  Schema [KNA]    Script Date: 11/20/2018 5:30:55 PM ******/
CREATE SCHEMA [KNA]
GO
/****** Object:  Schema [US\USKWKJ01]    Script Date: 11/20/2018 5:30:55 PM ******/
CREATE SCHEMA [US\USKWKJ01]
GO
/****** Object:  Table [dbo].[CLS_DETL_SUMRY_TEST]    Script Date: 11/20/2018 5:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLS_DETL_SUMRY_TEST](
	[LST_ACTL_SHIP_DT] [date] NULL,
	[FISC_WK] [int] NULL,
	[FISC_PD] [int] NULL,
	[FISC_QTR] [int] NULL,
	[FISC_YR] [int] NULL,
	[SALES_DOC_NBR] [varchar](10) NULL,
	[PO_NBR] [varchar](35) NULL,
	[SALES_DOC_LN_NBR] [int] NULL,
	[CRE_DT] [date] NULL,
	[BOL_NBR] [varchar](20) NULL,
	[DELVRY_NBR] [varchar](10) NULL,
	[ACTL_SHIP_DT] [date] NULL,
	[ORIG_RQST_ARRVL_DT] [date] NULL,
	[RQST_ARRVL_DT] [date] NULL,
	[MATRL_NBR] [varchar](18) NULL,
	[MATRL_DESC] [varchar](40) NULL,
	[DIST_MTHD] [varchar](3) NULL,
	[HIER_B_RGN_CUST_NM] [varchar](35) NULL,
	[HIER_B_ZN_CUST_NM] [varchar](35) NULL,
	[HIER_B_TERR_CUST_NM] [varchar](35) NULL,
	[HIER_B_TERR_CUST_NBR] [varchar](10) NULL,
	[ORIG_ORDR_QTY_CS_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_CS_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_CS_UOM] [decimal](13, 3) NULL,
	[CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[ATP_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[WHSE_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[ALLOC_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[AVBL_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[CS_PER_UL] [int] NULL,
	[CS_PER_LYR] [int] NULL,
	[CUST_REP_ID] [varchar](10) NULL,
	[CUST_REP_NM] [varchar](35) NULL,
	[BU] [varchar](60) NULL,
	[CUST_REP_PARTNR_FCN] [varchar](2) NULL,
	[PROD_HIER_MKT_SEG] [varchar](40) NULL,
	[PROD_HIER_CATG] [varchar](40) NULL,
	[PROD_HIER_SUB_CATG] [varchar](40) NULL,
	[PROD_HIER_BRAND] [varchar](40) NULL,
	[PROD_HIER_DESC] [varchar](40) NULL,
	[ALT_MKT_SEG] [varchar](30) NULL,
	[ALT_CATG] [varchar](30) NULL,
	[ALT_SUB_CATG] [varchar](30) NULL,
	[BASE_MATRL] [varchar](30) NULL,
	[ORIG_ORDR_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[ORIG_ORDR_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[MATRL_GRP] [varchar](9) NULL,
	[MATRL_GRP_DESC] [varchar](60) NULL,
	[ITEM_CATG_GRP] [varchar](4) NULL,
	[ABC_CLAS] [varchar](40) NULL,
	[TEAM_MGR] [varchar](4) NULL,
	[SPLY_CHN_PLNR] [varchar](10) NULL,
	[PLNT_NBR] [varchar](4) NULL,
	[PLNT_NM] [varchar](30) NULL,
	[CUST_NBR] [varchar](10) NULL,
	[CUST_NM] [varchar](35) NULL,
	[CUST_NM2] [varchar](35) NULL,
	[SALES_ORG] [varchar](4) NULL,
	[SALES_ORG_NM] [varchar](20) NULL,
	[DIST_CHNL] [varchar](2) NULL,
	[DIV] [varchar](2) NULL,
	[HIER_D_SALES_MGMT_A_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_B_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_C_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_D_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_E_CUST_NM] [varchar](35) NULL,
	[HIER_D_CHN_CUST_NM] [varchar](35) NULL,
	[HIER_D_PLN_TO_CUST_NM] [varchar](35) NULL,
	[PSTL_CD] [varchar](10) NULL,
	[SPLY_CHN_INPT_FD] [varchar](20) NULL,
	[SHIPMNT_NBR] [varchar](10) NULL,
	[SHIPNG_CND] [varchar](2) NULL,
	[VAS_ORDR_IND] [varchar](6) NOT NULL,
	[HIER_D_COMPANY_CUST_NM] [varchar](35) NULL,
	[HIER_D_COUNTRY_CUST_NM] [varchar](35) NULL,
	[ACTL_LOAD_DT] [date] NULL,
	[TRNSPRT_VNDR_NBR] [varchar](10) NULL,
	[TRNSPRT_VNDR_NM] [varchar](35) NULL,
	[SCAC] [varchar](4) NULL,
	[TRNSPRT_GRP] [varchar](4) NULL,
	[ACTL_DELVRY_DT] [datetime] NULL,
	[ORIG_CONF_DELVRY_APPT_DT] [datetime] NULL,
	[DELVRY_STOP_NBR] [int] NULL,
	[ACTL_TRNSPRT_CHK_IN_DT] [datetime] NULL,
	[ACTL_TRNSPRT_CHK_OUT_DT] [datetime] NULL,
	[CONF_PICKUP_APPT_DT] [datetime] NULL,
	[SALES_DOC_TYP] [varchar](4) NULL,
	[CHNL_IND] [varchar](2) NULL,
	[PLANT_TYP] [varchar](3) NULL,
	[CONF_DELVRY_APPT_DT] [datetime] NULL,
	[DELVRY_TYP] [varchar](20) NULL,
	[TRNSPRT_NTWRK] [varchar](7) NULL,
	[CUST_MATRL_NBR] [varchar](35) NULL,
	[DELVRY_LN_NBR] [int] NULL,
	[STRG_LOC] [varchar](4) NULL,
	[ORIG_LOAD_DT] [date] NULL,
	[MOST_FREQNT_ORIG_LOAD_DT] [date] NULL,
	[ORIG_SHIP_LOC] [varchar](4) NULL,
	[RSN_RJCT_CODE] [varchar](2) NULL,
	[RQST_DELVRY_DT_CHG_RSN_CD] [varchar](2) NULL,
	[CUST_MATRL_BU_VAS_ORDR_CNT] [int] NULL,
	[CUST_MATRL_BU_VAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_MATRL_BU_VAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_MATRL_BU_NONVAS_ORDR_CNT] [int] NULL,
	[CUST_MATRL_BU_NONVAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_MATRL_BU_NONVAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_MATRL_BU_ORDR_CNT] [int] NULL,
	[CUST_BU_VAS_ORDR_CNT] [int] NULL,
	[CUST_BU_VAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_BU_VAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_BU_NONVAS_ORDR_CNT] [int] NULL,
	[CUST_BU_NONVAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_BU_NONVAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_BU_ORDR_CNT] [int] NULL,
	[CUST_VAS_ORDR_CNT] [int] NULL,
	[CUST_VAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_VAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_NONVAS_ORDR_CNT] [int] NULL,
	[CUST_NONVAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_NONVAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_ORDR_CNT] [int] NULL,
	[SALES_DOC_NBR_NOT_CUT] [varchar](10) NULL,
	[ORDR_CMPLIANT] [varchar](1) NOT NULL,
	[ORIG_CONF_VS_ACTL_DELVRY_DT_SEC_DIFF] [int] NULL,
	[RQST_VS_ACTL_DELVRY_DT_DAY_DIFF] [int] NULL,
	[ORIG_CONF_VS_ACTL_DELVRY_DT_ON_TIME] [varchar](32) NULL,
	[ORIG_CONF_VS_ACTL_DELVRY_DT_CHK] [varchar](32) NULL,
	[RQST_VS_ACTL_DELVRY_DT_ON_TIME] [varchar](32) NULL,
	[RQST_VS_ACTL_DELVRY_DT_CHK] [varchar](32) NULL,
	[ORIG_CONF_VS_ACTL_DELVRY_DT_ON_TIME_NO_CUT] [varchar](32) NULL,
	[RQST_VS_ACTL_DELVRY_DT_ON_TIME_NO_CUT] [varchar](32) NULL,
	[CONF_VS_ACTL_CHK_IN_DT_SEC_DIFF] [int] NULL,
	[CONF_VS_ACTL_CHK_OUT_DT_SEC_DIFF] [int] NULL,
	[CONF_VS_ACTL_CHK_IN_DT_ON_TIME] [varchar](20) NULL,
	[CONF_VS_ACTL_CHK_IN_DT_CHK] [varchar](20) NULL,
	[CONF_VS_ACTL_CHK_OUT_DT_ON_TIME] [varchar](20) NULL,
	[CONF_VS_ACTL_CHK_OUT_DT_CHK] [varchar](20) NULL,
	[CONF_VS_ACTL_CHK_OUT_DT_ON_TIME_NO_CUT] [varchar](20) NULL,
	[ACCSL_UNLD_AMT] [decimal](38, 2) NULL,
	[ACCSL_UNLD_AMT_CURR] [varchar](5) NULL,
	[ACCSL_DETN_AMT] [decimal](38, 2) NULL,
	[ACCSL_DETN_AMT_CURR] [varchar](5) NULL,
	[ACCSL_OTHR_AMT] [decimal](38, 2) NULL,
	[ACCSL_OTHR_AMT_CURR] [varchar](5) NULL,
	[ACCSL_TOTL_AMT] [decimal](38, 2) NULL,
	[ACCSL_TOTL_AMT_CURR] [varchar](5) NULL,
	[BOL_NBR_NOT_CUT] [varchar](20) NULL,
	[BOL_STOP_NBR_NOT_CUT] [varchar](32) NULL,
	[ORIG_RQST_VS_ACTL_DELVRY_DT_ON_TIME] [varchar](32) NULL,
	[ORIG_RQST_VS_ACTL_DELVRY_DT_CHK] [varchar](32) NULL,
	[ORIG_RQST_VS_ACTL_DELVRY_DT_DAY_DIFF] [int] NULL,
	[ORIG_RQST_VS_ACTL_DELVRY_DT_ON_TIME_NO_CUT] [varchar](32) NULL,
	[CONF_VS_ACTL_DELVRY_DT_ON_TIME] [varchar](32) NULL,
	[CONF_VS_ACTL_DELVRY_DT_CHK] [varchar](32) NULL,
	[CONF_VS_ACTL_DELVRY_DT_SEC_DIFF] [int] NULL,
	[ORIG_RQST_VS_ACTL_SHIP_DT_ON_TIME] [varchar](20) NULL,
	[ORIG_RQST_VS_ACTL_SHIP_DT_CHK] [varchar](20) NULL,
	[ORIG_RQST_VS_ACTL_SHIP_DT_DAY_DIFF] [int] NULL,
	[ORIG_RQST_VS_ACTL_SHIP_DT_ON_TIME_NO_CUT] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLS_SCRCARD2_TEST]    Script Date: 11/20/2018 5:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLS_SCRCARD2_TEST](
	[LST_ACTL_SHIP_DT] [date] NULL,
	[FISC_WK] [int] NULL,
	[FISC_PD] [int] NULL,
	[FISC_QTR] [int] NULL,
	[FISC_YR] [int] NULL,
	[SALES_DOC_NBR] [varchar](10) NULL,
	[PO_NBR] [varchar](35) NULL,
	[SALES_DOC_LN_NBR] [int] NULL,
	[CRE_DT] [date] NULL,
	[BOL_NBR] [varchar](20) NULL,
	[DELVRY_NBR] [varchar](10) NULL,
	[ACTL_SHIP_DT] [date] NULL,
	[ORIG_RQST_ARRVL_DT] [date] NULL,
	[RQST_ARRVL_DT] [date] NULL,
	[MATRL_NBR] [varchar](18) NULL,
	[MATRL_DESC] [varchar](40) NULL,
	[DIST_MTHD] [varchar](3) NULL,
	[HIER_B_RGN_CUST_NM] [varchar](35) NULL,
	[HIER_B_ZN_CUST_NM] [varchar](35) NULL,
	[HIER_B_TERR_CUST_NM] [varchar](35) NULL,
	[HIER_B_TERR_CUST_NBR] [varchar](10) NULL,
	[ORIG_ORDR_QTY_CS_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_CS_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_CS_UOM] [decimal](13, 3) NULL,
	[CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[ATP_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[WHSE_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[ALLOC_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[AVBL_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[CS_PER_UL] [int] NULL,
	[CS_PER_LYR] [int] NULL,
	[CUST_REP_ID] [varchar](10) NULL,
	[CUST_REP_NM] [varchar](35) NULL,
	[BU] [varchar](60) NULL,
	[CUST_REP_PARTNR_FCN] [varchar](2) NULL,
	[PROD_HIER_MKT_SEG] [varchar](40) NULL,
	[PROD_HIER_CATG] [varchar](40) NULL,
	[PROD_HIER_SUB_CATG] [varchar](40) NULL,
	[PROD_HIER_BRAND] [varchar](40) NULL,
	[PROD_HIER_DESC] [varchar](40) NULL,
	[ALT_MKT_SEG] [varchar](30) NULL,
	[ALT_CATG] [varchar](30) NULL,
	[ALT_SUB_CATG] [varchar](30) NULL,
	[BASE_MATRL] [varchar](30) NULL,
	[ORIG_ORDR_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[ORIG_ORDR_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[MATRL_GRP] [varchar](9) NULL,
	[MATRL_GRP_DESC] [varchar](60) NULL,
	[ITEM_CATG_GRP] [varchar](4) NULL,
	[ABC_CLAS] [varchar](40) NULL,
	[TEAM_MGR] [varchar](4) NULL,
	[SPLY_CHN_PLNR] [varchar](10) NULL,
	[PLNT_NBR] [varchar](4) NULL,
	[PLNT_NM] [varchar](30) NULL,
	[CUST_NBR] [varchar](10) NULL,
	[CUST_NM] [varchar](35) NULL,
	[CUST_NM2] [varchar](35) NULL,
	[SALES_ORG] [varchar](4) NULL,
	[SALES_ORG_NM] [varchar](20) NULL,
	[DIST_CHNL] [varchar](2) NULL,
	[DIV] [varchar](2) NULL,
	[HIER_D_SALES_MGMT_A_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_B_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_C_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_D_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_E_CUST_NM] [varchar](35) NULL,
	[HIER_D_CHN_CUST_NM] [varchar](35) NULL,
	[HIER_D_PLN_TO_CUST_NM] [varchar](35) NULL,
	[PSTL_CD] [varchar](10) NULL,
	[SPLY_CHN_INPT_FD] [varchar](20) NULL,
	[SHIPMNT_NBR] [varchar](10) NULL,
	[SHIPNG_CND] [varchar](2) NULL,
	[VAS_ORDR_IND] [varchar](6) NULL,
	[HIER_D_COMPANY_CUST_NM] [varchar](35) NULL,
	[HIER_D_COUNTRY_CUST_NM] [varchar](35) NULL,
	[ACTL_LOAD_DT] [date] NULL,
	[TRNSPRT_VNDR_NBR] [varchar](10) NULL,
	[TRNSPRT_VNDR_NM] [varchar](35) NULL,
	[SCAC] [varchar](4) NULL,
	[TRNSPRT_GRP] [varchar](4) NULL,
	[ACTL_DELVRY_DT] [datetime] NULL,
	[ORIG_CONF_DELVRY_APPT_DT] [datetime] NULL,
	[DELVRY_STOP_NBR] [int] NULL,
	[ACTL_TRNSPRT_CHK_IN_DT] [datetime] NULL,
	[ACTL_TRNSPRT_CHK_OUT_DT] [datetime] NULL,
	[CONF_PICKUP_APPT_DT] [datetime] NULL,
	[SALES_DOC_TYP] [varchar](4) NULL,
	[CHNL_IND] [varchar](2) NULL,
	[PLANT_TYP] [varchar](3) NULL,
	[CONF_DELVRY_APPT_DT] [datetime] NULL,
	[DELVRY_TYP] [varchar](20) NULL,
	[TRNSPRT_NTWRK] [varchar](7) NULL,
	[CUST_MATRL_NBR] [varchar](35) NULL,
	[DELVRY_LN_NBR] [int] NULL,
	[STRG_LOC] [varchar](4) NULL,
	[ORIG_LOAD_DT] [date] NULL,
	[MOST_FREQNT_ORIG_LOAD_DT] [date] NULL,
	[ORIG_SHIP_LOC] [varchar](4) NULL,
	[RSN_RJCT_CODE] [varchar](2) NULL,
	[RQST_DELVRY_DT_CHG_RSN_CD] [varchar](2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [KNA].[CLS_DETL_SUMRY]    Script Date: 11/20/2018 5:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [KNA].[CLS_DETL_SUMRY](
	[LST_ACTL_SHIP_DT] [date] NULL,
	[FISC_WK] [int] NULL,
	[FISC_PD] [int] NULL,
	[FISC_QTR] [int] NULL,
	[FISC_YR] [int] NULL,
	[SALES_DOC_NBR] [varchar](10) NULL,
	[PO_NBR] [varchar](35) NULL,
	[SALES_DOC_LN_NBR] [int] NULL,
	[CRE_DT] [date] NULL,
	[BOL_NBR] [varchar](20) NULL,
	[DELVRY_NBR] [varchar](10) NULL,
	[ACTL_SHIP_DT] [date] NULL,
	[ORIG_RQST_ARRVL_DT] [date] NULL,
	[RQST_ARRVL_DT] [date] NULL,
	[MATRL_NBR] [varchar](18) NULL,
	[MATRL_DESC] [varchar](40) NULL,
	[DIST_MTHD] [varchar](3) NULL,
	[HIER_B_RGN_CUST_NM] [varchar](35) NULL,
	[HIER_B_ZN_CUST_NM] [varchar](35) NULL,
	[HIER_B_TERR_CUST_NM] [varchar](35) NULL,
	[HIER_B_TERR_CUST_NBR] [varchar](10) NULL,
	[ORIG_ORDR_QTY_CS_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_CS_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_CS_UOM] [decimal](13, 3) NULL,
	[CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[ATP_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[WHSE_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[ALLOC_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[AVBL_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[CS_PER_UL] [int] NULL,
	[CS_PER_LYR] [int] NULL,
	[CUST_REP_ID] [varchar](10) NULL,
	[CUST_REP_NM] [varchar](35) NULL,
	[BU] [varchar](60) NULL,
	[CUST_REP_PARTNR_FCN] [varchar](2) NULL,
	[PROD_HIER_MKT_SEG] [varchar](40) NULL,
	[PROD_HIER_CATG] [varchar](40) NULL,
	[PROD_HIER_SUB_CATG] [varchar](40) NULL,
	[PROD_HIER_BRAND] [varchar](40) NULL,
	[PROD_HIER_DESC] [varchar](40) NULL,
	[ALT_MKT_SEG] [varchar](30) NULL,
	[ALT_CATG] [varchar](30) NULL,
	[ALT_SUB_CATG] [varchar](30) NULL,
	[BASE_MATRL] [varchar](30) NULL,
	[ORIG_ORDR_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[ORIG_ORDR_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[MATRL_GRP] [varchar](9) NULL,
	[MATRL_GRP_DESC] [varchar](60) NULL,
	[ITEM_CATG_GRP] [varchar](4) NULL,
	[ABC_CLAS] [varchar](40) NULL,
	[TEAM_MGR] [varchar](4) NULL,
	[SPLY_CHN_PLNR] [varchar](10) NULL,
	[PLNT_NBR] [varchar](4) NULL,
	[PLNT_NM] [varchar](30) NULL,
	[CUST_NBR] [varchar](10) NULL,
	[CUST_NM] [varchar](35) NULL,
	[CUST_NM2] [varchar](35) NULL,
	[SALES_ORG] [varchar](4) NULL,
	[SALES_ORG_NM] [varchar](20) NULL,
	[DIST_CHNL] [varchar](2) NULL,
	[DIV] [varchar](2) NULL,
	[HIER_D_SALES_MGMT_A_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_B_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_C_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_D_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_E_CUST_NM] [varchar](35) NULL,
	[HIER_D_CHN_CUST_NM] [varchar](35) NULL,
	[HIER_D_PLN_TO_CUST_NM] [varchar](35) NULL,
	[PSTL_CD] [varchar](10) NULL,
	[SPLY_CHN_INPT_FD] [varchar](20) NULL,
	[SHIPMNT_NBR] [varchar](10) NULL,
	[SHIPNG_CND] [varchar](2) NULL,
	[VAS_ORDR_IND] [varchar](6) NOT NULL,
	[HIER_D_COMPANY_CUST_NM] [varchar](35) NULL,
	[HIER_D_COUNTRY_CUST_NM] [varchar](35) NULL,
	[ACTL_LOAD_DT] [date] NULL,
	[TRNSPRT_VNDR_NBR] [varchar](10) NULL,
	[TRNSPRT_VNDR_NM] [varchar](35) NULL,
	[SCAC] [varchar](4) NULL,
	[TRNSPRT_GRP] [varchar](4) NULL,
	[ACTL_DELVRY_DT] [datetime] NULL,
	[ORIG_CONF_DELVRY_APPT_DT] [datetime] NULL,
	[DELVRY_STOP_NBR] [int] NULL,
	[ACTL_TRNSPRT_CHK_IN_DT] [datetime] NULL,
	[ACTL_TRNSPRT_CHK_OUT_DT] [datetime] NULL,
	[CONF_PICKUP_APPT_DT] [datetime] NULL,
	[SALES_DOC_TYP] [varchar](4) NULL,
	[CHNL_IND] [varchar](2) NULL,
	[PLANT_TYP] [varchar](3) NULL,
	[CONF_DELVRY_APPT_DT] [datetime] NULL,
	[DELVRY_TYP] [varchar](20) NULL,
	[TRNSPRT_NTWRK] [varchar](7) NULL,
	[CUST_MATRL_NBR] [varchar](35) NULL,
	[DELVRY_LN_NBR] [int] NULL,
	[STRG_LOC] [varchar](4) NULL,
	[ORIG_LOAD_DT] [date] NULL,
	[MOST_FREQNT_ORIG_LOAD_DT] [date] NULL,
	[ORIG_SHIP_LOC] [varchar](4) NULL,
	[RSN_RJCT_CODE] [varchar](2) NULL,
	[RQST_DELVRY_DT_CHG_RSN_CD] [varchar](2) NULL,
	[CUST_MATRL_BU_VAS_ORDR_CNT] [int] NULL,
	[CUST_MATRL_BU_VAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_MATRL_BU_VAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_MATRL_BU_NONVAS_ORDR_CNT] [int] NULL,
	[CUST_MATRL_BU_NONVAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_MATRL_BU_NONVAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_MATRL_BU_ORDR_CNT] [int] NULL,
	[CUST_BU_VAS_ORDR_CNT] [int] NULL,
	[CUST_BU_VAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_BU_VAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_BU_NONVAS_ORDR_CNT] [int] NULL,
	[CUST_BU_NONVAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_BU_NONVAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_BU_ORDR_CNT] [int] NULL,
	[CUST_VAS_ORDR_CNT] [int] NULL,
	[CUST_VAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_VAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_NONVAS_ORDR_CNT] [int] NULL,
	[CUST_NONVAS_ORDR_CMPLIANT_CNT] [int] NULL,
	[CUST_NONVAS_ORDR_LEAD_TM_SUM] [int] NULL,
	[CUST_ORDR_CNT] [int] NULL,
	[SALES_DOC_NBR_NOT_CUT] [varchar](10) NULL,
	[ORDR_CMPLIANT] [varchar](1) NOT NULL,
	[ORIG_CONF_VS_ACTL_DELVRY_DT_SEC_DIFF] [int] NULL,
	[RQST_VS_ACTL_DELVRY_DT_DAY_DIFF] [int] NULL,
	[ORIG_CONF_VS_ACTL_DELVRY_DT_ON_TIME] [varchar](32) NULL,
	[ORIG_CONF_VS_ACTL_DELVRY_DT_CHK] [varchar](32) NULL,
	[RQST_VS_ACTL_DELVRY_DT_ON_TIME] [varchar](32) NULL,
	[RQST_VS_ACTL_DELVRY_DT_CHK] [varchar](32) NULL,
	[ORIG_CONF_VS_ACTL_DELVRY_DT_ON_TIME_NO_CUT] [varchar](32) NULL,
	[RQST_VS_ACTL_DELVRY_DT_ON_TIME_NO_CUT] [varchar](32) NULL,
	[CONF_VS_ACTL_CHK_IN_DT_SEC_DIFF] [int] NULL,
	[CONF_VS_ACTL_CHK_OUT_DT_SEC_DIFF] [int] NULL,
	[CONF_VS_ACTL_CHK_IN_DT_ON_TIME] [varchar](20) NULL,
	[CONF_VS_ACTL_CHK_IN_DT_CHK] [varchar](20) NULL,
	[CONF_VS_ACTL_CHK_OUT_DT_ON_TIME] [varchar](20) NULL,
	[CONF_VS_ACTL_CHK_OUT_DT_CHK] [varchar](20) NULL,
	[CONF_VS_ACTL_CHK_OUT_DT_ON_TIME_NO_CUT] [varchar](20) NULL,
	[ACCSL_UNLD_AMT] [decimal](38, 2) NULL,
	[ACCSL_UNLD_AMT_CURR] [varchar](5) NULL,
	[ACCSL_DETN_AMT] [decimal](38, 2) NULL,
	[ACCSL_DETN_AMT_CURR] [varchar](5) NULL,
	[ACCSL_OTHR_AMT] [decimal](38, 2) NULL,
	[ACCSL_OTHR_AMT_CURR] [varchar](5) NULL,
	[ACCSL_TOTL_AMT] [decimal](38, 2) NULL,
	[ACCSL_TOTL_AMT_CURR] [varchar](5) NULL,
	[BOL_NBR_NOT_CUT] [varchar](20) NULL,
	[BOL_STOP_NBR_NOT_CUT] [varchar](32) NULL,
	[ORIG_RQST_VS_ACTL_DELVRY_DT_ON_TIME] [varchar](32) NULL,
	[ORIG_RQST_VS_ACTL_DELVRY_DT_CHK] [varchar](32) NULL,
	[ORIG_RQST_VS_ACTL_DELVRY_DT_DAY_DIFF] [int] NULL,
	[ORIG_RQST_VS_ACTL_DELVRY_DT_ON_TIME_NO_CUT] [varchar](32) NULL,
	[CONF_VS_ACTL_DELVRY_DT_ON_TIME] [varchar](32) NULL,
	[CONF_VS_ACTL_DELVRY_DT_CHK] [varchar](32) NULL,
	[CONF_VS_ACTL_DELVRY_DT_SEC_DIFF] [int] NULL,
	[ORIG_RQST_VS_ACTL_SHIP_DT_ON_TIME] [varchar](20) NULL,
	[ORIG_RQST_VS_ACTL_SHIP_DT_CHK] [varchar](20) NULL,
	[ORIG_RQST_VS_ACTL_SHIP_DT_DAY_DIFF] [int] NULL,
	[ORIG_RQST_VS_ACTL_SHIP_DT_ON_TIME_NO_CUT] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [KNA].[CLS_SCRCARD2]    Script Date: 11/20/2018 5:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [KNA].[CLS_SCRCARD2](
	[LST_ACTL_SHIP_DT] [date] NULL,
	[FISC_WK] [int] NULL,
	[FISC_PD] [int] NULL,
	[FISC_QTR] [int] NULL,
	[FISC_YR] [int] NULL,
	[SALES_DOC_NBR] [varchar](10) NULL,
	[PO_NBR] [varchar](35) NULL,
	[SALES_DOC_LN_NBR] [int] NULL,
	[CRE_DT] [date] NULL,
	[BOL_NBR] [varchar](20) NULL,
	[DELVRY_NBR] [varchar](10) NULL,
	[ACTL_SHIP_DT] [date] NULL,
	[ORIG_RQST_ARRVL_DT] [date] NULL,
	[RQST_ARRVL_DT] [date] NULL,
	[MATRL_NBR] [varchar](18) NULL,
	[MATRL_DESC] [varchar](40) NULL,
	[DIST_MTHD] [varchar](3) NULL,
	[HIER_B_RGN_CUST_NM] [varchar](35) NULL,
	[HIER_B_ZN_CUST_NM] [varchar](35) NULL,
	[HIER_B_TERR_CUST_NM] [varchar](35) NULL,
	[HIER_B_TERR_CUST_NBR] [varchar](10) NULL,
	[ORIG_ORDR_QTY_CS_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_CS_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_CS_UOM] [decimal](13, 3) NULL,
	[CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[ATP_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[WHSE_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[ALLOC_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[AVBL_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[CS_PER_UL] [int] NULL,
	[CS_PER_LYR] [int] NULL,
	[CUST_REP_ID] [varchar](10) NULL,
	[CUST_REP_NM] [varchar](35) NULL,
	[BU] [varchar](60) NULL,
	[CUST_REP_PARTNR_FCN] [varchar](2) NULL,
	[PROD_HIER_MKT_SEG] [varchar](40) NULL,
	[PROD_HIER_CATG] [varchar](40) NULL,
	[PROD_HIER_SUB_CATG] [varchar](40) NULL,
	[PROD_HIER_BRAND] [varchar](40) NULL,
	[PROD_HIER_DESC] [varchar](40) NULL,
	[ALT_MKT_SEG] [varchar](30) NULL,
	[ALT_CATG] [varchar](30) NULL,
	[ALT_SUB_CATG] [varchar](30) NULL,
	[BASE_MATRL] [varchar](30) NULL,
	[ORIG_ORDR_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[ORIG_ORDR_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[MATRL_GRP] [varchar](9) NULL,
	[MATRL_GRP_DESC] [varchar](60) NULL,
	[ITEM_CATG_GRP] [varchar](4) NULL,
	[ABC_CLAS] [varchar](40) NULL,
	[TEAM_MGR] [varchar](4) NULL,
	[SPLY_CHN_PLNR] [varchar](10) NULL,
	[PLNT_NBR] [varchar](4) NULL,
	[PLNT_NM] [varchar](30) NULL,
	[CUST_NBR] [varchar](10) NULL,
	[CUST_NM] [varchar](35) NULL,
	[CUST_NM2] [varchar](35) NULL,
	[SALES_ORG] [varchar](4) NULL,
	[SALES_ORG_NM] [varchar](20) NULL,
	[DIST_CHNL] [varchar](2) NULL,
	[DIV] [varchar](2) NULL,
	[HIER_D_SALES_MGMT_A_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_B_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_C_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_D_CUST_NM] [varchar](35) NULL,
	[HIER_D_SALES_MGMT_E_CUST_NM] [varchar](35) NULL,
	[HIER_D_CHN_CUST_NM] [varchar](35) NULL,
	[HIER_D_PLN_TO_CUST_NM] [varchar](35) NULL,
	[PSTL_CD] [varchar](10) NULL,
	[SPLY_CHN_INPT_FD] [varchar](20) NULL,
	[SHIPMNT_NBR] [varchar](10) NULL,
	[SHIPNG_CND] [varchar](2) NULL,
	[VAS_ORDR_IND] [varchar](6) NULL,
	[HIER_D_COMPANY_CUST_NM] [varchar](35) NULL,
	[HIER_D_COUNTRY_CUST_NM] [varchar](35) NULL,
	[ACTL_LOAD_DT] [date] NULL,
	[TRNSPRT_VNDR_NBR] [varchar](10) NULL,
	[TRNSPRT_VNDR_NM] [varchar](35) NULL,
	[SCAC] [varchar](4) NULL,
	[TRNSPRT_GRP] [varchar](4) NULL,
	[ACTL_DELVRY_DT] [datetime] NULL,
	[ORIG_CONF_DELVRY_APPT_DT] [datetime] NULL,
	[DELVRY_STOP_NBR] [int] NULL,
	[ACTL_TRNSPRT_CHK_IN_DT] [datetime] NULL,
	[ACTL_TRNSPRT_CHK_OUT_DT] [datetime] NULL,
	[CONF_PICKUP_APPT_DT] [datetime] NULL,
	[SALES_DOC_TYP] [varchar](4) NULL,
	[CHNL_IND] [varchar](2) NULL,
	[PLANT_TYP] [varchar](3) NULL,
	[CONF_DELVRY_APPT_DT] [datetime] NULL,
	[DELVRY_TYP] [varchar](20) NULL,
	[TRNSPRT_NTWRK] [varchar](7) NULL,
	[CUST_MATRL_NBR] [varchar](35) NULL,
	[DELVRY_LN_NBR] [int] NULL,
	[STRG_LOC] [varchar](4) NULL,
	[ORIG_LOAD_DT] [date] NULL,
	[MOST_FREQNT_ORIG_LOAD_DT] [date] NULL,
	[ORIG_SHIP_LOC] [varchar](4) NULL,
	[RSN_RJCT_CODE] [varchar](2) NULL,
	[RQST_DELVRY_DT_CHG_RSN_CD] [varchar](2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [KNA].[KEYFIG_INVLD]    Script Date: 11/20/2018 5:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [KNA].[KEYFIG_INVLD](
	[CORR] [varchar](1) NULL,
	[SALES_DOC_NBR] [varchar](10) NULL,
	[SALES_DOC_LN_NBR] [decimal](28, 0) NULL,
	[MATRL_NBR] [varchar](18) NULL,
	[ORIG_ORDR_QTY_CS_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_CS_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_CS_UOM] [decimal](13, 3) NULL,
	[ATP_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[WHSE_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[ALLOC_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[AVAIL_CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[CUT_QTY_CS_UOM] [decimal](15, 3) NULL,
	[ORIG_ORDR_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[ORIG_ORDR_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[REVS_ORDR_QTY_TUL_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_SUL_UOM] [decimal](15, 3) NULL,
	[SHIP_QTY_UOM] [decimal](15, 3) NULL,
	[DI_ERRORACTION] [varchar](1) NULL,
	[DI_ERRORCOLUMNS] [varchar](500) NULL,
	[DI_ROWID] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
