USE [master]
GO
/****** Object:  Database [KLA_COMRCL]    Script Date: 11/20/2018 5:37:00 PM ******/
CREATE DATABASE [KLA_COMRCL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KLA_COMRCL', FILENAME = N'E:\SQL_DATA\MSSQL13.ANALYTICSPROD\Data\KLA_COMRCL.mdf' , SIZE = 15360000KB , MAXSIZE = UNLIMITED, FILEGROWTH = 512000KB )
 LOG ON 
( NAME = N'KLA_COMRCL_log', FILENAME = N'L:\SQL_LOGS\MSSQL13.ANALYTICSPROD\Logs\KLA_COMRCL_log.ldf' , SIZE = 2201600KB , MAXSIZE = 2048GB , FILEGROWTH = 102400KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KLA_COMRCL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KLA_COMRCL]
GO
/****** Object:  User [US\SQL_DS_SUPPORT_R]    Script Date: 11/20/2018 5:37:00 PM ******/
CREATE USER [US\SQL_DS_SUPPORT_R] FOR LOGIN [US\SQL_DS_SUPPORT_R]
GO
ALTER ROLE [db_datareader] ADD MEMBER [US\SQL_DS_SUPPORT_R]
GO
/****** Object:  Table [dbo].[F_KLA_AOS_HISTORY]    Script Date: 11/20/2018 5:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[F_KLA_AOS_HISTORY](
	[DATE_SALE] [date] NULL,
	[CURR_STR_TRNS_QTY] [float] NOT NULL,
	[CURR_STR_HAND_QTY] [float] NOT NULL,
	[CURR_STR_WHSE_QTY] [float] NOT NULL,
	[CURR_STR_ORDER_QTY] [float] NOT NULL,
	[SALES_VALUE] [float] NOT NULL,
	[SALES_US] [float] NOT NULL,
	[SALES_PZ] [float] NOT NULL,
	[EAN_12] [varchar](14) NOT NULL,
	[EAN_13] [varchar](14) NOT NULL,
	[EAN_14] [varchar](14) NOT NULL,
	[SKU_NO] [bigint] NOT NULL,
	[SAP_NO] [varchar](30) NOT NULL,
	[SKU_FLG] [varchar](10) NULL,
	[SAP_DESC] [varchar](255) NULL,
	[SKU_DESC] [varchar](120) NULL,
	[CATEGORY_NM] [varchar](50) NULL,
	[BRAND_NM] [varchar](50) NULL,
	[MOTHER_EAN] [varchar](14) NOT NULL,
	[PRICE_PER_CS] [float] NOT NULL,
	[PZ_PER_CS] [int] NOT NULL,
	[WEIGHT_KG_PER_CS] [float] NOT NULL,
	[M3_PER_CS] [float] NOT NULL,
	[CS_PER_PAL] [int] NOT NULL,
	[VOL_PER_CS] [float] NOT NULL,
	[LENGTH_BY_PZ] [float] NOT NULL,
	[WIDTH_BY_PZ] [float] NOT NULL,
	[HEIGHT_BY_PZ] [float] NOT NULL,
	[LENGTH_BY_CS] [float] NOT NULL,
	[WIDTH_BY_CS] [float] NOT NULL,
	[HEIGHT_BY_CS] [float] NOT NULL,
	[LENGTH_BY_PAL] [float] NOT NULL,
	[WIDTH_BY_PAL] [float] NOT NULL,
	[HEIGHT_BY_PAL] [float] NOT NULL,
	[MAIL_REP] [varchar](150) NOT NULL,
	[SALES_REP] [varchar](150) NOT NULL,
	[SALES_CEL_REP] [varchar](20) NOT NULL,
	[STORE_NO] [varchar](30) NOT NULL,
	[STORE_NM] [varchar](150) NOT NULL,
	[CLUSTER_NM] [varchar](150) NOT NULL,
	[FORMAT_NM] [varchar](150) NOT NULL,
	[CHAIN_NM] [varchar](100) NOT NULL,
	[RESTRICTED_FLG] [varchar](4) NOT NULL,
	[DC_SUPPLIER_NAME] [varchar](150) NOT NULL,
	[DC_KELLOGG_NAME] [varchar](150) NOT NULL,
	[CLIENT_NAME] [varchar](150) NOT NULL,
	[STORE_STATUS] [varchar](255) NULL,
	[CITY_NM] [varchar](150) NOT NULL,
	[STATE_NM] [varchar](8000) NOT NULL,
	[COUNTRY_NM] [varchar](100) NOT NULL,
	[MUNICIPALITY_NM] [varchar](150) NOT NULL,
	[NIELSEN_ZONE] [varchar](150) NOT NULL,
	[PLAZA_NM] [varchar](150) NOT NULL,
	[TERRITORY_NM] [varchar](150) NOT NULL,
	[REGION_NM] [varchar](150) NOT NULL,
	[SHELF_CAP_PZ] [bigint] NOT NULL,
	[EXHIB_SIZE_PZ] [bigint] NOT NULL,
	[SHELF_CAPACITY_PER_PZ_AND_EXHIBITION_SIZE_PER_PZ] [bigint] NULL,
	[SHELF_CAPACITY_PER_PZ_AND_EXHIBITION_SIZE_PER_PZ_X2] [bigint] NULL,
	[TIME_ON_TRANSIT] [numeric](18, 0) NOT NULL,
	[DOH] [float] NOT NULL,
	[DOH_IN_TRANSIT] [float] NOT NULL,
	[DOH_IN_WAREHOUSE] [float] NOT NULL,
	[DOH_IN_BACKORDER] [float] NOT NULL,
	[DOH_TOTAL_PIPELINE] [float] NULL,
	[INV_ON_BACKORDER_CS] [float] NOT NULL,
	[INV_AT_WRH_CS] [float] NOT NULL,
	[INV_IN_TRANSIT_CS] [float] NOT NULL,
	[INV_AT_STORE_CS] [float] NOT NULL,
	[INV_TOTAL_PIPELINE_PZ] [float] NOT NULL,
	[INV_TOTAL_PIPELINE_CS] [float] NULL,
	[INV_TOTAL_PIPELINE_PZ_LESS_CONSUMPTION] [float] NOT NULL,
	[EXHIBITION_STATUS_AT_STORE] [int] NOT NULL,
	[EXHIBITION_STATUS_AT_STORE_2] [int] NOT NULL,
	[LOST_SALES_PER_DAY] [float] NOT NULL,
	[TOTAL_SALES_LAST_8_WEEKS] [float] NOT NULL,
	[AVG_SALES_LAST_8_WEEKS] [float] NOT NULL,
	[SUC_AVG_SALES_LAST_8_WEEKS] [float] NOT NULL,
	[SUC_EAN_0_DAILY_AV_SALES_PRIOR_8_WEEKS] [float] NULL,
	[AVG_ON_ORDER_PZ] [float] NOT NULL,
	[AVG_INVENTORY_PZ] [float] NOT NULL,
	[AVG_SALE_VALUE] [float] NOT NULL,
	[AVG_PRICE_SALE_VALUE] [float] NOT NULL,
	[MOTHER_EAN_AVG_SALES_PZ] [float] NOT NULL,
	[MOTHER_EAN_NUM_CURR_STR_HAND_QTY] [float] NOT NULL,
	[TXT_CLIENT_NM] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[F_KLA_AOS_LAST_INVENTORY]    Script Date: 11/20/2018 5:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[F_KLA_AOS_LAST_INVENTORY](
	[DATE_SALE] [date] NULL,
	[CURR_STR_TRNS_QTY] [float] NOT NULL,
	[CURR_STR_HAND_QTY] [float] NOT NULL,
	[CURR_STR_WHSE_QTY] [float] NOT NULL,
	[CURR_STR_ORDER_QTY] [float] NOT NULL,
	[SALES_VALUE] [float] NOT NULL,
	[SALES_US] [float] NOT NULL,
	[SALES_PZ] [float] NOT NULL,
	[EAN_12] [varchar](14) NOT NULL,
	[EAN_13] [varchar](14) NOT NULL,
	[EAN_14] [varchar](14) NOT NULL,
	[SKU_NO] [bigint] NOT NULL,
	[SAP_NO] [varchar](30) NOT NULL,
	[SKU_FLG] [varchar](10) NULL,
	[SAP_DESC] [varchar](255) NULL,
	[SKU_DESC] [varchar](120) NULL,
	[CATEGORY_NM] [varchar](50) NULL,
	[BRAND_NM] [varchar](50) NULL,
	[MOTHER_EAN] [varchar](14) NOT NULL,
	[PRICE_PER_CS] [float] NOT NULL,
	[PZ_PER_CS] [int] NOT NULL,
	[WEIGHT_KG_PER_CS] [float] NOT NULL,
	[M3_PER_CS] [float] NOT NULL,
	[CS_PER_PAL] [int] NOT NULL,
	[VOL_PER_CS] [float] NOT NULL,
	[LENGTH_BY_PZ] [float] NOT NULL,
	[WIDTH_BY_PZ] [float] NOT NULL,
	[HEIGHT_BY_PZ] [float] NOT NULL,
	[LENGTH_BY_CS] [float] NOT NULL,
	[WIDTH_BY_CS] [float] NOT NULL,
	[HEIGHT_BY_CS] [float] NOT NULL,
	[LENGTH_BY_PAL] [float] NOT NULL,
	[WIDTH_BY_PAL] [float] NOT NULL,
	[HEIGHT_BY_PAL] [float] NOT NULL,
	[MAIL_REP] [varchar](150) NOT NULL,
	[SALES_REP] [varchar](150) NOT NULL,
	[SALES_CEL_REP] [varchar](20) NOT NULL,
	[STORE_NO] [varchar](30) NOT NULL,
	[STORE_NM] [varchar](150) NOT NULL,
	[CLUSTER_NM] [varchar](150) NOT NULL,
	[FORMAT_NM] [varchar](150) NOT NULL,
	[CHAIN_NM] [varchar](100) NOT NULL,
	[RESTRICTED_FLG] [varchar](4) NOT NULL,
	[DC_SUPPLIER_NAME] [varchar](150) NOT NULL,
	[DC_KELLOGG_NAME] [varchar](150) NOT NULL,
	[CLIENT_NAME] [varchar](150) NOT NULL,
	[STORE_STATUS] [varchar](255) NULL,
	[CITY_NM] [varchar](150) NOT NULL,
	[STATE_NM] [varchar](8000) NOT NULL,
	[COUNTRY_NM] [varchar](100) NOT NULL,
	[MUNICIPALITY_NM] [varchar](150) NOT NULL,
	[NIELSEN_ZONE] [varchar](150) NOT NULL,
	[PLAZA_NM] [varchar](150) NOT NULL,
	[TERRITORY_NM] [varchar](150) NOT NULL,
	[REGION_NM] [varchar](150) NOT NULL,
	[SHELF_CAP_PZ] [bigint] NOT NULL,
	[EXHIB_SIZE_PZ] [bigint] NOT NULL,
	[SHELF_CAPACITY_PER_PZ_AND_EXHIBITION_SIZE_PER_PZ] [bigint] NULL,
	[SHELF_CAPACITY_PER_PZ_AND_EXHIBITION_SIZE_PER_PZ_X2] [bigint] NULL,
	[TIME_ON_TRANSIT] [numeric](18, 0) NOT NULL,
	[DOH] [float] NOT NULL,
	[DOH_IN_TRANSIT] [float] NOT NULL,
	[DOH_IN_WAREHOUSE] [float] NOT NULL,
	[DOH_IN_BACKORDER] [float] NOT NULL,
	[DOH_TOTAL_PIPELINE] [float] NULL,
	[INV_ON_BACKORDER_CS] [float] NOT NULL,
	[INV_AT_WRH_CS] [float] NOT NULL,
	[INV_IN_TRANSIT_CS] [float] NOT NULL,
	[INV_AT_STORE_CS] [float] NOT NULL,
	[INV_TOTAL_PIPELINE_PZ] [float] NOT NULL,
	[INV_TOTAL_PIPELINE_CS] [float] NULL,
	[INV_TOTAL_PIPELINE_PZ_LESS_CONSUMPTION] [float] NOT NULL,
	[EXHIBITION_STATUS_AT_STORE] [int] NOT NULL,
	[EXHIBITION_STATUS_AT_STORE_2] [int] NOT NULL,
	[LOST_SALES_PER_DAY] [float] NOT NULL,
	[TOTAL_SALES_LAST_8_WEEKS] [float] NOT NULL,
	[AVG_SALES_LAST_8_WEEKS] [float] NOT NULL,
	[SUC_AVG_SALES_LAST_8_WEEKS] [float] NOT NULL,
	[SUC_EAN_0_DAILY_AV_SALES_PRIOR_8_WEEKS] [float] NULL,
	[AVG_ON_ORDER_PZ] [float] NOT NULL,
	[AVG_INVENTORY_PZ] [float] NOT NULL,
	[AVG_SALE_VALUE] [float] NOT NULL,
	[AVG_PRICE_SALE_VALUE] [float] NOT NULL,
	[MOTHER_EAN_AVG_SALES_PZ] [float] NOT NULL,
	[MOTHER_EAN_NUM_CURR_STR_HAND_QTY] [float] NOT NULL,
	[TXT_CLIENT_NM] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[F_KLA_CKI_DATA]    Script Date: 11/20/2018 5:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[F_KLA_CKI_DATA](
	[COUNTRY_NM] [varchar](100) NULL,
	[PRODUCT_ID] [numeric](14, 0) NULL,
	[FORMAT_NM] [varchar](100) NULL,
	[SEGMENT_NM] [varchar](100) NOT NULL,
	[CHAIN] [varchar](100) NULL,
	[RETAIL_ENVIRONMENT] [varchar](100) NULL,
	[PACKAGE_NM] [varchar](50) NULL,
	[CURRENCY_NM] [varchar](20) NOT NULL,
	[MANUFACTURER_NM] [varchar](100) NULL,
	[BRAND_NM] [varchar](100) NULL,
	[BRAND_TIER] [varchar](100) NULL,
	[CATEGORY_NM] [varchar](100) NOT NULL,
	[NUM_YEAR] [numeric](4, 0) NULL,
	[NUM_MONTH] [numeric](2, 0) NULL,
	[MONTH_NM] [nvarchar](30) NULL,
	[SALE_VALUE] [numeric](38, 8) NULL,
	[SALE_VALUE_ACU] [numeric](38, 8) NULL,
	[SALE_VALUE_YRA] [numeric](38, 8) NULL,
	[SALE_VALUE_DIF] [numeric](38, 8) NULL,
	[SALE_VALUE_YRA_ACU] [numeric](38, 8) NULL,
	[SALE_VALUE_DIF_ACU] [numeric](38, 8) NULL,
	[SALE_UNIT] [numeric](38, 0) NULL,
	[SALE_UNIT_ACU] [numeric](38, 0) NULL,
	[SALE_UNIT_YRA] [numeric](38, 0) NULL,
	[SALE_UNIT_DIF] [numeric](38, 0) NULL,
	[SALE_UNIT_YRA_ACU] [numeric](38, 0) NULL,
	[SALE_UNIT_DIF_ACU] [numeric](38, 0) NULL,
	[SALE_VOLUME] [numeric](38, 4) NULL,
	[SALE_VOLUME_ACU] [numeric](38, 4) NULL,
	[SALE_VOLUME_YRA] [numeric](38, 4) NULL,
	[SALE_VOLUME_DIF] [numeric](38, 4) NULL,
	[SALE_VOLUME_YRA_ACU] [numeric](38, 4) NULL,
	[SALE_VOLUME_DIF_ACU] [numeric](38, 4) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
